In [1]:
%run ./init.ipynb

Length of attributes added  100000
Number of valid rows with attributes  96697

In [2]:
#index in the file of where the empty NFT.  The actual Nifty ID will be one off since index starts at zero
np.where(pd.isnull(df['Background']))[0]

array([96697, 96698, 96699, ..., 99997, 99998, 99999])

In [3]:
#add the nifty ID here to pull the rarity values
niftyID = 25086

In [4]:
%%time
startRange = 1
stopRange = 100001
modulo = 25000
listing = {}
for x in range(startRange, stopRange):
    if (x-1) in (np.where(pd.isnull(df['Background']))[0]):
        continue
    rarityDict = {}
    total = 0.0
    for count in range(0, len(manualColumns)):
        if (x-1) in (np.where(pd.isnull(df[manualColumns[count]]))[0]):
            continue
        searchFilterItem = df.iloc[x-1][count+1]
        rarityDict[manualColumns[count]] = 1 / (df[manualColumns[count]].value_counts().filter(like=str(searchFilterItem), axis=0)[searchFilterItem] / validCount)
        total += rarityDict[manualColumns[count]]
    listing[x] = round(total, 3)
    clear_output(wait=True)
    print(x)
    if(x % modulo == 0):
        data_dictionary =  pd.DataFrame.from_dict(listing, orient='index', columns=['rarity'])  
        data_dictionary.to_csv('Rarities_' + str(x - modulo + 1) + '_' + str(x) + '.csv')
        listing = {}
#print(rarityDict)

42

KeyboardInterrupt:

In [23]:
data_dictionary =  pd.DataFrame.from_dict(listing, orient='index', columns=['rarity'])  #pd.DataFrame(listing, orient='index')
data_dictionary.to_csv('Rarities_' + str(x - modulo + 1) + '_' + str(x) + '.csv')

In [18]:
df = pd.concat(map(pd.read_csv, ['./Rarities_1_25000.csv', './Rarities_25001_50000.csv', './Rarities_50001_75000.csv', './Rarities_75001_100000.csv']))

In [32]:
df.tail(25)
sorted_df = df.sort_values(by=['rarity'], ascending=False)
print(sorted_df.tail(25))

       Unnamed: 0  rarity
13554       38555  33.720
9462        59463  33.710
14746       89747  33.517
16764       16765  33.342
9019        84020  33.219
5385        30386  33.180
3826        53827  33.029
2653         2654  32.905
17247       17248  32.791
19639       94640  32.791
19079       94080  32.388
12196       12197  32.301
7197        57198  32.263
22941       22942  32.176
17862       67863  32.138
19173       69174  31.795
6020        31021  31.579
470           471  31.534
12839       12840  31.495
1188         1189  31.476
23441       23442  30.813
13332       88333  30.279
20645       70646  29.937
4478        29479  29.895
15503       15504  29.487

In [33]:
sorted_df['rankingID'] = np.arange(df.shape[0])
print(sorted_df.tail(25))

       Unnamed: 0  rarity  rankingID
13554       38555  33.720      96672
9462        59463  33.710      96673
14746       89747  33.517      96674
16764       16765  33.342      96675
9019        84020  33.219      96676
5385        30386  33.180      96677
3826        53827  33.029      96678
2653         2654  32.905      96679
17247       17248  32.791      96680
19639       94640  32.791      96681
19079       94080  32.388      96682
12196       12197  32.301      96683
7197        57198  32.263      96684
22941       22942  32.176      96685
17862       67863  32.138      96686
19173       69174  31.795      96687
6020        31021  31.579      96688
470           471  31.534      96689
12839       12840  31.495      96690
1188         1189  31.476      96691
23441       23442  30.813      96692
13332       88333  30.279      96693
20645       70646  29.937      96694
4478        29479  29.895      96695
15503       15504  29.487      96696

In [34]:
sorted_df['rankingID'] = sorted_df['rankingID'] + 1
print(sorted_df.tail(25))

       Unnamed: 0  rarity  rankingID
13554       38555  33.720      96673
9462        59463  33.710      96674
14746       89747  33.517      96675
16764       16765  33.342      96676
9019        84020  33.219      96677
5385        30386  33.180      96678
3826        53827  33.029      96679
2653         2654  32.905      96680
17247       17248  32.791      96681
19639       94640  32.791      96682
19079       94080  32.388      96683
12196       12197  32.301      96684
7197        57198  32.263      96685
22941       22942  32.176      96686
17862       67863  32.138      96687
19173       69174  31.795      96688
6020        31021  31.579      96689
470           471  31.534      96690
12839       12840  31.495      96691
1188         1189  31.476      96692
23441       23442  30.813      96693
13332       88333  30.279      96694
20645       70646  29.937      96695
4478        29479  29.895      96696
15503       15504  29.487      96697

In [35]:
sorted_df.columns

Index(['Unnamed: 0', 'rarity', 'rankingID'], dtype='object')

In [37]:
renamed_df = sorted_df.rename(columns={"Unnamed: 0": "niftyID"})
print(renamed_df.tail(25))

       niftyID  rarity  rankingID
13554    38555  33.720      96673
9462     59463  33.710      96674
14746    89747  33.517      96675
16764    16765  33.342      96676
9019     84020  33.219      96677
5385     30386  33.180      96678
3826     53827  33.029      96679
2653      2654  32.905      96680
17247    17248  32.791      96681
19639    94640  32.791      96682
19079    94080  32.388      96683
12196    12197  32.301      96684
7197     57198  32.263      96685
22941    22942  32.176      96686
17862    67863  32.138      96687
19173    69174  31.795      96688
6020     31021  31.579      96689
470        471  31.534      96690
12839    12840  31.495      96691
1188      1189  31.476      96692
23441    23442  30.813      96693
13332    88333  30.279      96694
20645    70646  29.937      96695
4478     29479  29.895      96696
15503    15504  29.487      96697

In [38]:
renamed_df.columns

Index(['niftyID', 'rarity', 'rankingID'], dtype='object')

In [17]:
renamed_df.loc[renamed_df['niftyID'] == 96697]

       niftyID   rarity  rankingID
21696    96697  192.419      10303

In [14]:
print(renamed_df[['rankingID','niftyID','rarity']].head(25))

       rankingID  niftyID     rarity
11620          1    11621  11753.500
4794           2    29795   6971.444
13466          3    63467   6745.087
11372          4    86373   6663.687
3835           5    53836   6616.759
24109          6    49110   6605.011
8100           7    83101   6597.546
18769          8    68770   6582.487
5134           9     5135   6553.885
22888         10    22889   6517.527
2941          11     2942   6512.232
18727         12    93728   6506.497
13378         13    38379   6505.447
13774         14    63775   6500.603
749           15      750   6488.856
17312         16    17313   5614.408
14590         17    39591   5272.704
6746          18    81747   5254.856
2343          19    52344   5216.025
24824         20    74825   5211.553
23222         21    48223   5207.643
1366          22     1367   5198.539
1796          23    26797   5184.565
8944          24    58945   5172.361
18678         25    93679   5166.613

In [45]:
# reversed order
print(renamed_df[['rankingID','niftyID','rarity']].iloc[::-1].head(25))

       rankingID  niftyID  rarity
15503      96697    15504  29.487
4478       96696    29479  29.895
20645      96695    70646  29.937
13332      96694    88333  30.279
23441      96693    23442  30.813
1188       96692     1189  31.476
12839      96691    12840  31.495
470        96690      471  31.534
6020       96689    31021  31.579
19173      96688    69174  31.795
17862      96687    67863  32.138
22941      96686    22942  32.176
7197       96685    57198  32.263
12196      96684    12197  32.301
19079      96683    94080  32.388
19639      96682    94640  32.791
17247      96681    17248  32.791
2653       96680     2654  32.905
3826       96679    53827  33.029
5385       96678    30386  33.180
9019       96677    84020  33.219
16764      96676    16765  33.342
14746      96675    89747  33.517
9462       96674    59463  33.710
13554      96673    38555  33.720

In [46]:
print(renamed_df[['rankingID','niftyID','rarity']].tail(25))

       rankingID  niftyID  rarity
13554      96673    38555  33.720
9462       96674    59463  33.710
14746      96675    89747  33.517
16764      96676    16765  33.342
9019       96677    84020  33.219
5385       96678    30386  33.180
3826       96679    53827  33.029
2653       96680     2654  32.905
17247      96681    17248  32.791
19639      96682    94640  32.791
19079      96683    94080  32.388
12196      96684    12197  32.301
7197       96685    57198  32.263
22941      96686    22942  32.176
17862      96687    67863  32.138
19173      96688    69174  31.795
6020       96689    31021  31.579
470        96690      471  31.534
12839      96691    12840  31.495
1188       96692     1189  31.476
23441      96693    23442  30.813
13332      96694    88333  30.279
20645      96695    70646  29.937
4478       96696    29479  29.895
15503      96697    15504  29.487