In [18]:
%run ./init.ipynb

Length of attributes added  100000
Number of valid rows with attributes  96406

In [19]:
#index in the file of where the empty NFT.  The actual Nifty ID will be one off since index starts at zero
np.where(pd.isnull(df['Background']))[0]

array([96406, 96407, 96408, ..., 99997, 99998, 99999])

In [20]:
#add the nifty ID here to pull the rarity values
niftyID = 25086

In [ ]:
%%time
startRange = 1
stopRange = 100001
modulo = 1
listing = {}
for x in range(startRange, stopRange):
    if (x-1) in (np.where(pd.isnull(df['Background']))[0]):
        continue
    rarityDict = {}
    total = 0.0
    for count in range(0, len(manualColumns)):
        searchFilterItem = df.iloc[x-1][count+1]
        rarityDict[manualColumns[count]] = 1 / (df[manualColumns[count]].value_counts().filter(like=str(searchFilterItem), axis=0)[searchFilterItem] / validCount)
        total += rarityDict[manualColumns[count]]
    listing[x] = round(total, 3)
    clear_output(wait=True)
    print(x)
    if(x % modulo == 0):
        data_dictionary =  pd.DataFrame.from_dict(listing, orient='index', columns=['rarity'])  
        data_dictionary.to_csv('RaritiesTemp_' + str(x - modulo + 1) + '_' + str(x) + '.csv')
        listing = {}
#print(rarityDict)

In [ ]:
data_dictionary =  pd.DataFrame.from_dict(listing, orient='index', columns=['rarity'])  #pd.DataFrame(listing, orient='index')
data_dictionary.to_csv('Rarities_' + str(x - modulo + 1) + '_' + str(x) + '.csv')

In [4]:
df = pd.concat(map(pd.read_csv, ['./Rarities_1_25000.csv', './Rarities_25001_50000.csv', './Rarities_50001_75000.csv', './Rarities_75001_100000.csv']))

In [5]:
#print(df)
sorted_df = df.sort_values(by=['rarity'], ascending=False)

In [6]:
sorted_df['rankingID'] = np.arange(df.shape[0])

In [7]:
sorted_df['rankingID'] = sorted_df['rankingID'] + 1

In [8]:
sorted_df.columns

Index(['Unnamed: 0', 'rarity', 'rankingID'], dtype='object')

In [9]:
renamed_df = sorted_df.rename(columns={"Unnamed: 0": "niftyID"})

In [10]:
renamed_df.columns

Index(['niftyID', 'rarity', 'rankingID'], dtype='object')

In [11]:
renamed_df.loc[renamed_df['niftyID'] == 27035]

      niftyID    rarity  rankingID
2034    27035  1689.176         83

In [21]:
print(renamed_df[['rankingID','niftyID','rarity']].head(25))

       rankingID  niftyID     rarity
11620          1    11621  11732.100
4794           2    29795   6955.348
13466          3    63467   6733.812
11372          4    86373   6653.388
3835           5    53836   6603.381
24109          6    49110   6589.774
8100           7    83101   6584.488
18769          8    68770   6569.332
5134           9     5135   6540.719
22888         10    22889   6503.229
2941          11     2942   6497.533
18727         12    93728   6494.860
13378         13    38379   6492.310
13774         14    63775   6490.522
749           15      750   6478.754
17312         16    17313   5601.065
14590         17    39591   5271.307
6746          18    81747   5242.183
2343          19    52344   5228.305
24824         20    74825   5201.598
23222         21    48223   5198.745
1366          22     1367   5188.549
1796          23    26797   5176.901
1136          24    76137   5163.262
8944          25    58945   5161.794

In [22]:
# reversed order
print(renamed_df[['rankingID','niftyID','rarity']].iloc[::-1].head(25))

       rankingID  niftyID  rarity
8434       96406    83435  47.211
5704       96405    55705  47.211
4952       96404    79953  48.017
22535      96403    47536  48.057
21033      96402    96034  48.306
16252      96401    16253  48.426
9986       96400    84987  48.426
10938      96399    10939  48.465
12542      96398    87543  48.739
18274      96397    18275  48.739
11362      96396    86363  48.739
12647      96395    62648  48.778
15503      96394    15504  48.780
15135      96393    90136  48.785
15595      96392    15596  48.785
10782      96391    85783  48.825
6082       96390    81083  48.885
13060      96389    13061  48.925
6035       96388    81036  49.073
24700      96387    74701  49.073
14041      96386    14042  49.107
9767       96385    84768  49.107
3741       96384    28742  49.107
16085      96383    66086  49.112
14423      96382    39424  49.146

In [ ]:
print(renamed_df.tail(20))