In [1]:
%run ./init.ipynb

Length of attributes added  100000
Number of valid rows with attributes  94871

In [2]:
#index in the file of where the empty NFT.  The actual Nifty ID will be one off since index starts at zero
np.where(pd.isnull(df['Background']))[0]

array([29784, 33922, 33923, ..., 99997, 99998, 99999])

In [3]:
#add the nifty ID here to pull the rarity values
niftyID = 25086

In [4]:
%%time
startRange = 10
stopRange = 40
listing = {}
for x in range(startRange, stopRange):
    if (x-1) in (np.where(pd.isnull(df['Background']))[0]):
        continue
    rarityDict = {}
    total = 0.0
    for count in range(0, len(manualColumns)):
        searchFilterItem = df.iloc[x-1][count+1]
        rarityDict[manualColumns[count]] = 1 / (df[manualColumns[count]].value_counts().filter(like=str(searchFilterItem), axis=0)[searchFilterItem] / validCount)
        total += rarityDict[manualColumns[count]]
        #print(total)
    listing[x] = round(total, 3)
    clear_output(wait=True)
    print(x)
data_dictionary =  pd.DataFrame.from_dict(listing, orient='index', columns=['rarity'])  #pd.DataFrame(listing, orient='index')
data_dictionary.to_csv('RaritiesTemp' + '.csv')
#print(rarityDict)

39
CPU times: user 2.1 s, sys: 14.8 ms, total: 2.11 s
Wall time: 2.11 s

In [5]:
df = pd.concat(map(pd.read_csv, ['./Rarities_1_25000.csv', './Rarities_25001_50000.csv', './Rarities_50001_75000.csv', './Rarities_75001_100000.csv']))

In [6]:
#print(df)
sorted_df = df.sort_values(by=['rarity'], ascending=False)

In [7]:
sorted_df['rankingID'] = np.arange(df.shape[0])

In [8]:
sorted_df['rankingID'] = sorted_df['rankingID'] + 1

In [9]:
sorted_df.columns

Index(['Unnamed: 0', 'rarity', 'rankingID'], dtype='object')

In [10]:
renamed_df = sorted_df.rename(columns={"Unnamed: 0": "niftyID"})

In [11]:
renamed_df.columns

Index(['niftyID', 'rarity', 'rankingID'], dtype='object')

In [12]:
renamed_df.loc[renamed_df['niftyID'] == 27035]

      niftyID    rarity  rankingID
2034    27035  1719.563         81

In [18]:
print(renamed_df[['rankingID','niftyID','rarity']].head(20))

       rankingID  niftyID     rarity
11620          1    11621  11548.439
4792           2    29795   6850.029
13460          3    63467   6632.865
11372          4    86373   6549.796
3829           5    53836   6500.820
23975          6    49110   6487.452
8100           7    83101   6482.198
18763          8    68770   6466.792
5134           9     5135   6438.346
22888         10    22889   6400.769
2941          11     2942   6395.136
18727         12    93728   6392.459
13291         13    38379   6389.899
13768         14    63775   6388.078
749           15      750   6376.370
17312         16    17313   5517.343
14495         17    39591   5190.552
6746          18    81747   5165.441
2337          19    52344   5147.739
24818         20    74825   5120.849

In [23]:
# reversed order
print(renamed_df[['rankingID','niftyID','rarity']].iloc[::-1].head(20))

       rankingID  niftyID  rarity
8434       94870    83435  47.188
5698       94869    55705  47.188
4952       94868    79953  47.997
22403      94867    47536  48.015
16252      94866    16253  48.405
9986       94865    84987  48.405
10938      94864    10939  48.423
18274      94863    18275  48.719
12542      94862    87543  48.719
11362      94861    86363  48.719
12641      94860    62648  48.737
15503      94859    15504  48.744
15595      94858    15596  48.760
15135      94857    90136  48.760
10782      94856    85783  48.778
6082       94855    81083  48.881
13060      94854    13061  48.898
9767       94853    84768  49.061
14041      94852    14042  49.061
3740       94851    28742  49.061

In [22]:
print(renamed_df.tail(20))

       niftyID  rarity  rankingID
3740     28742  49.061      94851
14041    14042  49.061      94852
9767     84768  49.061      94853
13060    13061  48.898      94854
6082     81083  48.881      94855
10782    85783  48.778      94856
15135    90136  48.760      94857
15595    15596  48.760      94858
15503    15504  48.744      94859
12641    62648  48.737      94860
11362    86363  48.719      94861
12542    87543  48.719      94862
18274    18275  48.719      94863
10938    10939  48.423      94864
9986     84987  48.405      94865
16252    16253  48.405      94866
22403    47536  48.015      94867
4952     79953  47.997      94868
5698     55705  47.188      94869
8434     83435  47.188      94870