In [1]:
%run ./init.ipynb

Length of attributes added  100000
Number of valid rows with attributes  96697

In [2]:
#index in the file of where the empty NFT.  The actual Nifty ID will be one off since index starts at zero
np.where(pd.isnull(df['Background']))[0]

array([96697, 96698, 96699, ..., 99997, 99998, 99999])

In [3]:
#add the nifty ID here to pull the rarity values
niftyID = 25086

In [4]:
%%time
startRange = 1
stopRange = 100001
modulo = 25000
listing = {}
for x in range(startRange, stopRange):
    if (x-1) in (np.where(pd.isnull(df['Background']))[0]):
        continue
    rarityDict = {}
    total = 0.0
    for count in range(0, len(manualColumns)):
        if (x-1) in (np.where(pd.isnull(df[manualColumns[count]]))[0]):
            continue
        searchFilterItem = df.iloc[x-1][count+1]
        rarityDict[manualColumns[count]] = 1 / (df[manualColumns[count]].value_counts().filter(like=str(searchFilterItem), axis=0)[searchFilterItem] / validCount)
        total += rarityDict[manualColumns[count]]
    listing[x] = round(total, 3)
    clear_output(wait=True)
    print(x)
    if(x % modulo == 0):
        data_dictionary =  pd.DataFrame.from_dict(listing, orient='index', columns=['rarity'])  
        data_dictionary.to_csv('Rarities_' + str(x - modulo + 1) + '_' + str(x) + '.csv')
        listing = {}
#print(rarityDict)

42

KeyboardInterrupt:

In [23]:
data_dictionary =  pd.DataFrame.from_dict(listing, orient='index', columns=['rarity'])  #pd.DataFrame(listing, orient='index')
data_dictionary.to_csv('Rarities_' + str(x - modulo + 1) + '_' + str(x) + '.csv')

In [6]:
df = pd.concat(map(pd.read_csv, ['./Rarities_1_25000.csv', './Rarities_25001_50000.csv', './Rarities_50001_75000.csv', './Rarities_75001_100000.csv']))

In [7]:
#print(df)
sorted_df = df.sort_values(by=['rarity'], ascending=False)

In [8]:
sorted_df['rankingID'] = np.arange(df.shape[0])

In [9]:
sorted_df['rankingID'] = sorted_df['rankingID'] + 1

In [10]:
sorted_df.columns

Index(['Unnamed: 0', 'rarity', 'rankingID'], dtype='object')

In [11]:
renamed_df = sorted_df.rename(columns={"Unnamed: 0": "niftyID"})

In [12]:
renamed_df.columns

Index(['niftyID', 'rarity', 'rankingID'], dtype='object')

In [13]:
renamed_df.loc[renamed_df['niftyID'] == 27035]

      niftyID    rarity  rankingID
2034    27035  1679.366         97

In [14]:
print(renamed_df[['rankingID','niftyID','rarity']].head(25))

       rankingID  niftyID     rarity
11620          1    11621  11753.500
4794           2    29795   6971.444
13466          3    63467   6745.087
11372          4    86373   6663.687
3835           5    53836   6616.759
24109          6    49110   6605.011
8100           7    83101   6597.546
18769          8    68770   6582.487
5134           9     5135   6553.885
22888         10    22889   6517.527
2941          11     2942   6512.232
18727         12    93728   6506.497
13378         13    38379   6505.447
13774         14    63775   6500.603
749           15      750   6488.856
17312         16    17313   5614.408
14590         17    39591   5272.704
6746          18    81747   5254.856
2343          19    52344   5216.025
24824         20    74825   5211.553
23222         21    48223   5207.643
1366          22     1367   5198.539
1796          23    26797   5184.565
8944          24    58945   5172.361
18678         25    93679   5166.613

In [15]:
# reversed order
print(renamed_df[['rankingID','niftyID','rarity']].iloc[::-1].head(25))

       rankingID  niftyID  rarity
15503      96406    15504  29.495
29478      96405    29479  29.903
70645      96404    70646  29.943
88332      96403    88333  30.290
23441      96402    23442  30.810
1188       96401     1189  31.484
12839      96400    12840  31.505
470        96399      471  31.543
31020      96398    31021  31.581
69173      96397    69174  31.802
67862      96396    67863  32.134
22941      96395    22942  32.183
57197      96394    57198  32.264
12196      96393    12197  32.310
94079      96392    94080  32.385
94639      96391    94640  32.801
17247      96390    17248  32.801
2653       96389     2654  32.901
53826      96388    53827  33.032
30385      96387    30386  33.180
84019      96386    84020  33.218
16764      96385    16765  33.348
89746      96384    89747  33.526
59462      96383    59463  33.708
38554      96382    38555  33.729

In [ ]:
print(renamed_df.tail(20))