In [1]:
import pandas as pd
import glob
import numpy as np

pd.set_option("display.max_rows", None)


manualColumns = ['Background', 
                'Hair Style', 
                'Hair Color', 
                'Facial Hair', 
                'Top', 
                'Bottom',
                'Footwear',
                'Ring',
                'Headwear',
                'Glasses',
                'Piercings', 
                'Accessories']

In [2]:
#data_dictionary = pd.read_csv('Attributes_1_10000.csv',encoding = "utf-8")

# need to load these in order so manually adding them instead of using glob
projectFiles = ['./Attributes_1_5000.csv',
'./Attributes_5001_10000.csv',
'./Attributes_10001_15000.csv',
'./Attributes_15001_20000.csv',
'./Attributes_20001_25000.csv',
'./Attributes_25001_30000.csv', 
'./Attributes_30001_35000.csv',
'./Attributes_35001_40000.csv',
'./Attributes_40001_45000.csv', 
'./Attributes_45001_50000.csv', 
'./Attributes_50001_55000.csv', 
'./Attributes_55001_60000.csv',
'./Attributes_60001_65000.csv',
'./Attributes_65001_70000.csv',
'./Attributes_70001_75000.csv',
'./Attributes_75001_80000.csv',
'./Attributes_80001_85000.csv',
'./Attributes_85001_90000.csv',
'./Attributes_90001_95000.csv',
'./Attributes_95000_99999.csv']

#df = pd.concat(map(pd.read_csv, glob.glob('./Attributes_1*.csv')))
df = pd.concat(map(pd.read_csv, projectFiles))

print(len(df.index))

99999

In [3]:
mci = manualColumns.copy()
mci.insert(0,'id')
df.columns = mci

In [4]:
# count of id's with no data
emptyCount = len(np.where(pd.isnull(df['Background']))[0])
print(emptyCount)

5130

In [5]:
# id's that have no data so reserved for Nifty events and giveaways
np.where(pd.isnull(df['Background']))[0]

array([28383, 29784, 33922, ..., 99996, 99997, 99998])

In [6]:
df[manualColumns[0]].value_counts().to_frame()

       Background
White       94869

In [7]:
df[manualColumns[1]].value_counts().to_frame()

                           Hair Style
None                             9503
Straight Sideswept Fringe        9488
Short Messy                      9471
Buzz Cut                         8555
Short Coil                       8539
Short Afro Fade                  8530
Medium Curly Bob                 7547
Long Messy                       6651
Short Pixie                      6635
Low Ponytail                     6629
Updo Bun                         4768
Short Updo                       4739
Long Straight Bangs              1916
Long Afro                        1898

In [8]:
df[manualColumns[2]].value_counts().to_frame()

             Hair Color
Black             28461
Light Brown       20849
Dark Brown        17139
Blonde            13294
Light Grey         9455
Auburn             5671

In [9]:
df[manualColumns[3]].value_counts().to_frame()

          Facial Hair
None            71216
Stubble          9450
Thin             4745
Mustache         3808
Goatee           3769
Beard            1881

In [10]:
df[manualColumns[4]].value_counts().to_frame()

                                                     Top
Light Gray Longsleeve                               6664
Charcoal Blazer with Light Blue Shirt and No Tie    5956
Blue Longsleeve                                     5687
Navy Blazer with Striped Shirt and No Tie           5126
Navy Oxford with Buttons                            4088
Charcoal Blazer with Light Blue Shirt and Black...  3964
Dark Gray Longsleeve                                3783
Olive Oxford with Buttons                           3471
Navy Blazer with Striped Shirt and Navy Tie         3436
Gray Blazer with Black Shirt and No Tie             3417
Navy Oxford with Tie                                2909
Navy Oxford with Pocket                             2903
Red Longsleeve                                      2876
Tan Blazer with Off-White Shirt and No Tie          2582
Olive Oxford with Tie                               2477
Olive Oxford with Pocket                            2473
Khaki Oxford with Buttons                           2322
Gray Blazer with Black Shirt and Gray Tie           2261
Gray Oxford with Buttons                            1752
Navy Oxford with Tie and Pocket                     1738
Tan Blazer with Off-White Shirt and Tan Tie         1716
Khaki Oxford with Pocket                            1665
Khaki Oxford with Tie                               1665
Navy Jumpsuit                                       1665
Olive Oxford with Tie and Pocket                    1503
Denim Jumpsuit                                      1419
Gray Oxford with Pocket                             1255
Gray Oxford with Tie                                1228
Khaki Oxford with Tie and Pocket                     996
Gray Jumpsuit                                        946
Gray Oxford with Tie and Pocket                      752
Khaki Jumpsuit                                       705
Light Gray Cardigan with Light Gray Longsleeve ...   686
Light Gray Cardigan with Beige Longsleeve Shirt      598
Dark Gray Cardigan with Light Gray Longsleeve S...   594
Dark Gray Cardigan with Beige Longsleeve Shirt       515
Light Gray Cardigan with Tan Longsleeve Shirt        498
Light Gray Cardigan with Light Gray Oxford Shirt     460
Dark Gray Cardigan with Tan Longsleeve Shirt         425
Olive Cardigan with Light Gray Longsleeve Shirt      399
Light Gray Cardigan with Beige Oxford Shirt          396
Dark Gray Cardigan with Light Gray Oxford Shirt      396
Olive Cardigan with Beige Longsleeve Shirt           349
Dark Gray Cardigan with Beige Oxford Shirt           338
Light Gray Cardigan with Tan Oxford Shirt            337
Brown Cardigan with Light Gray Longsleeve Shirt      300
Dark Gray Cardigan with Tan Oxford Shirt             286
Olve Cardigan with Tan Longsleeve Shirt              283
Olive Cardigan with Light Gray Oxford Shirt          258
Brown Cardigan with Beige Longsleeve Shirt           255
Brown Cardigan with Tan Longsleeve Shirt             220
Olive Cardigan with Beige Oxford Shirt               219
Brown Cardigan with Light Gray Oxford Shirt          206
Light Gray Cardigan with Off-White Longsleeve S...   201
Olive Cardigan with Tan Oxford Shirt                 186
Dark Gray Cardigan with Off-White Longsleeve Shirt   173
Brown Cardigan with Beigse Oxford Shirt              171
Brown Cardigan with Tan Oxford Shirt                 138
Light Gray Cardigan with Off-White Oxford Shirt      134
Dark Gray Cardigan with Off-White Oxford Shirt       116
Olive Cardigan with Off-White Longsleeve Shirt       114
Brown Cardigan with Off-White Longsleeve Shirt        88
Olive Cardigan with Off-White Oxford Shirt            73
Brown Cardigan with Off-White Oxford Shirt            57

In [11]:
df[manualColumns[5]].value_counts().to_frame()

                  Bottom
Charcoal Slacks    20767
Navy Slacks        17795
Gray Slacks        11839
Dark-Wash Denim    10801
Light-Wash Denim    9234
Khaki Slacks        8896
Blue Denim          6195
None                4735
Khaki               4607

In [12]:
df[manualColumns[6]].value_counts().to_frame()

                                           Footwear
Brown Leather Shoes with Laces                19932
White Canvas Sneaker with White Sole          17038
Black Suede Chelseas with Brown Sole          14277
Black Leather Shoes with Laces                13319
Tan Suede Workboot with Tan Sole              11399
White Leather Sneaker with Grey Sole          11320
Redbrown Leather Workboot with Brown Sole      7569
Black Leather Chelsea with Blue Sole             15

In [13]:
df[manualColumns[7]].value_counts().to_frame()

                Ring
None           80605
Two Rings      13310
Ring One Blue    954

In [14]:
df[manualColumns[8]].value_counts().to_frame()

                       Headwear
None                      85387
Tan Workers Cap            6152
Navy Blue Workers Cap      2379
Purple Workers Cap          951

In [15]:
df[manualColumns[9]].value_counts().to_frame()

                   Glasses
None                 61674
Black Books          18947
Silver Aviators       9255
Rosegold Aviators     4954
3D Glasses              20
Blue Books              19

In [16]:
df[manualColumns[10]].value_counts().to_frame()

              Piercings
None              85383
Stud Earring       9486

In [17]:
df[manualColumns[11]].value_counts().to_frame()

                         Accessories
None                           31387
Black Smartphone               20836
Brown Leather Briefcase        17043
Black Leather Briefcase        13250
Lunchbox                        9503
Blue Lunchbox                   1917
Light Blue Smartphone            933

In [18]:
print("Empty Count = ", emptyCount,'out of 100,000')
print('')
for count in range(0, len(manualColumns)):
    print(count)
    print(df[manualColumns[count]].value_counts().to_frame())
    print(' ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ')
    print(df[manualColumns[count]].value_counts(normalize=True).to_frame())
    print('=====================================================')
    print('=====================================================')
    #numpy_array = df[manualColums[count]].value_counts().to_numpy()
    #np.savetxt("test_file.txt", np_array_rows_append, numpy_array, fmt = "%d")

Empty Count =  5130 out of 100,000

0
       Background
White       94869
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
       Background
White         1.0
=====================================================
=====================================================
1
                           Hair Style
None                             9503
Straight Sideswept Fringe        9488
Short Messy                      9471
Buzz Cut                         8555
Short Coil                       8539
Short Afro Fade                  8530
Medium Curly Bob                 7547
Long Messy                       6651
Short Pixie                      6635
Low Ponytail                     6629
Updo Bun                         4768
Short Updo                       4739
Long Straight Bangs              1916
Long Afro                        1898
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
                           Hair Style
None                         0.100170
Straight Sideswept Fringe    0.100012
Short Messy                  0.099832
Buzz Cut                     0.090177
Short Coil                   0.090008
Short Afro Fade              0.089913
Medium Curly Bob             0.079552
Long Messy                   0.070107
Short Pixie                  0.069939
Low Ponytail                 0.069875
Updo Bun                     0.050259
Short Updo                   0.049953
Long Straight Bangs          0.020196
Long Afro                    0.020007
=====================================================
=====================================================
2
             Hair Color
Black             28461
Light Brown       20849
Dark Brown        17139
Blonde            13294
Light Grey         9455
Auburn             5671
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
             Hair Color
Black          0.300003
Light Brown    0.219766
Dark Brown     0.180660
Blonde         0.140130
Light Grey     0.099664
Auburn         0.059777
=====================================================
=====================================================
3
          Facial Hair
None            71216
Stubble          9450
Thin             4745
Mustache         3808
Goatee           3769
Beard            1881
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
          Facial Hair
None         0.750677
Stubble      0.099611
Thin         0.050016
Mustache     0.040140
Goatee       0.039728
Beard        0.019827
=====================================================
=====================================================
4
                                                     Top
Light Gray Longsleeve                               6664
Charcoal Blazer with Light Blue Shirt and No Tie    5956
Blue Longsleeve                                     5687
Navy Blazer with Striped Shirt and No Tie           5126
Navy Oxford with Buttons                            4088
Charcoal Blazer with Light Blue Shirt and Black...  3964
Dark Gray Longsleeve                                3783
Olive Oxford with Buttons                           3471
Navy Blazer with Striped Shirt and Navy Tie         3436
Gray Blazer with Black Shirt and No Tie             3417
Navy Oxford with Tie                                2909
Navy Oxford with Pocket                             2903
Red Longsleeve                                      2876
Tan Blazer with Off-White Shirt and No Tie          2582
Olive Oxford with Tie                               2477
Olive Oxford with Pocket                            2473
Khaki Oxford with Buttons                           2322
Gray Blazer with Black Shirt and Gray Tie           2261
Gray Oxford with Buttons                            1752
Navy Oxford with Tie and Pocket                     1738
Tan Blazer with Off-White Shirt and Tan Tie         1716
Khaki Oxford with Pocket                            1665
Khaki Oxford with Tie                               1665
Navy Jumpsuit                                       1665
Olive Oxford with Tie and Pocket                    1503
Denim Jumpsuit                                      1419
Gray Oxford with Pocket                             1255
Gray Oxford with Tie                                1228
Khaki Oxford with Tie and Pocket                     996
Gray Jumpsuit                                        946
Gray Oxford with Tie and Pocket                      752
Khaki Jumpsuit                                       705
Light Gray Cardigan with Light Gray Longsleeve ...   686
Light Gray Cardigan with Beige Longsleeve Shirt      598
Dark Gray Cardigan with Light Gray Longsleeve S...   594
Dark Gray Cardigan with Beige Longsleeve Shirt       515
Light Gray Cardigan with Tan Longsleeve Shirt        498
Light Gray Cardigan with Light Gray Oxford Shirt     460
Dark Gray Cardigan with Tan Longsleeve Shirt         425
Olive Cardigan with Light Gray Longsleeve Shirt      399
Light Gray Cardigan with Beige Oxford Shirt          396
Dark Gray Cardigan with Light Gray Oxford Shirt      396
Olive Cardigan with Beige Longsleeve Shirt           349
Dark Gray Cardigan with Beige Oxford Shirt           338
Light Gray Cardigan with Tan Oxford Shirt            337
Brown Cardigan with Light Gray Longsleeve Shirt      300
Dark Gray Cardigan with Tan Oxford Shirt             286
Olve Cardigan with Tan Longsleeve Shirt              283
Olive Cardigan with Light Gray Oxford Shirt          258
Brown Cardigan with Beige Longsleeve Shirt           255
Brown Cardigan with Tan Longsleeve Shirt             220
Olive Cardigan with Beige Oxford Shirt               219
Brown Cardigan with Light Gray Oxford Shirt          206
Light Gray Cardigan with Off-White Longsleeve S...   201
Olive Cardigan with Tan Oxford Shirt                 186
Dark Gray Cardigan with Off-White Longsleeve Shirt   173
Brown Cardigan with Beigse Oxford Shirt              171
Brown Cardigan with Tan Oxford Shirt                 138
Light Gray Cardigan with Off-White Oxford Shirt      134
Dark Gray Cardigan with Off-White Oxford Shirt       116
Olive Cardigan with Off-White Longsleeve Shirt       114
Brown Cardigan with Off-White Longsleeve Shirt        88
Olive Cardigan with Off-White Oxford Shirt            73
Brown Cardigan with Off-White Oxford Shirt            57
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
                                                         Top
Light Gray Longsleeve                               0.070244
Charcoal Blazer with Light Blue Shirt and No Tie    0.062781
Blue Longsleeve                                     0.059946
Navy Blazer with Striped Shirt and No Tie           0.054032
Navy Oxford with Buttons                            0.043091
Charcoal Blazer with Light Blue Shirt and Black...  0.041784
Dark Gray Longsleeve                                0.039876
Olive Oxford with Buttons                           0.036587
Navy Blazer with Striped Shirt and Navy Tie         0.036218
Gray Blazer with Black Shirt and No Tie             0.036018
Navy Oxford with Tie                                0.030663
Navy Oxford with Pocket                             0.030600
Red Longsleeve                                      0.030315
Tan Blazer with Off-White Shirt and No Tie          0.027216
Olive Oxford with Tie                               0.026110
Olive Oxford with Pocket                            0.026068
Khaki Oxford with Buttons                           0.024476
Gray Blazer with Black Shirt and Gray Tie           0.023833
Gray Oxford with Buttons                            0.018468
Navy Oxford with Tie and Pocket                     0.018320
Tan Blazer with Off-White Shirt and Tan Tie         0.018088
Khaki Oxford with Pocket                            0.017551
Khaki Oxford with Tie                               0.017551
Navy Jumpsuit                                       0.017551
Olive Oxford with Tie and Pocket                    0.015843
Denim Jumpsuit                                      0.014957
Gray Oxford with Pocket                             0.013229
Gray Oxford with Tie                                0.012944
Khaki Oxford with Tie and Pocket                    0.010499
Gray Jumpsuit                                       0.009972
Gray Oxford with Tie and Pocket                     0.007927
Khaki Jumpsuit                                      0.007431
Light Gray Cardigan with Light Gray Longsleeve ...  0.007231
Light Gray Cardigan with Beige Longsleeve Shirt     0.006303
Dark Gray Cardigan with Light Gray Longsleeve S...  0.006261
Dark Gray Cardigan with Beige Longsleeve Shirt      0.005429
Light Gray Cardigan with Tan Longsleeve Shirt       0.005249
Light Gray Cardigan with Light Gray Oxford Shirt    0.004849
Dark Gray Cardigan with Tan Longsleeve Shirt        0.004480
Olive Cardigan with Light Gray Longsleeve Shirt     0.004206
Light Gray Cardigan with Beige Oxford Shirt         0.004174
Dark Gray Cardigan with Light Gray Oxford Shirt     0.004174
Olive Cardigan with Beige Longsleeve Shirt          0.003679
Dark Gray Cardigan with Beige Oxford Shirt          0.003563
Light Gray Cardigan with Tan Oxford Shirt           0.003552
Brown Cardigan with Light Gray Longsleeve Shirt     0.003162
Dark Gray Cardigan with Tan Oxford Shirt            0.003015
Olve Cardigan with Tan Longsleeve Shirt             0.002983
Olive Cardigan with Light Gray Oxford Shirt         0.002720
Brown Cardigan with Beige Longsleeve Shirt          0.002688
Brown Cardigan with Tan Longsleeve Shirt            0.002319
Olive Cardigan with Beige Oxford Shirt              0.002308
Brown Cardigan with Light Gray Oxford Shirt         0.002171
Light Gray Cardigan with Off-White Longsleeve S...  0.002119
Olive Cardigan with Tan Oxford Shirt                0.001961
Dark Gray Cardigan with Off-White Longsleeve Shirt  0.001824
Brown Cardigan with Beigse Oxford Shirt             0.001802
Brown Cardigan with Tan Oxford Shirt                0.001455
Light Gray Cardigan with Off-White Oxford Shirt     0.001412
Dark Gray Cardigan with Off-White Oxford Shirt      0.001223
Olive Cardigan with Off-White Longsleeve Shirt      0.001202
Brown Cardigan with Off-White Longsleeve Shirt      0.000928
Olive Cardigan with Off-White Oxford Shirt          0.000769
Brown Cardigan with Off-White Oxford Shirt          0.000601
=====================================================
=====================================================
5
                  Bottom
Charcoal Slacks    20767
Navy Slacks        17795
Gray Slacks        11839
Dark-Wash Denim    10801
Light-Wash Denim    9234
Khaki Slacks        8896
Blue Denim          6195
None                4735
Khaki               4607
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
                    Bottom
Charcoal Slacks   0.218902
Navy Slacks       0.187574
Gray Slacks       0.124793
Dark-Wash Denim   0.113852
Light-Wash Denim  0.097334
Khaki Slacks      0.093771
Blue Denim        0.065301
None              0.049911
Khaki             0.048562
=====================================================
=====================================================
6
                                           Footwear
Brown Leather Shoes with Laces                19932
White Canvas Sneaker with White Sole          17038
Black Suede Chelseas with Brown Sole          14277
Black Leather Shoes with Laces                13319
Tan Suede Workboot with Tan Sole              11399
White Leather Sneaker with Grey Sole          11320
Redbrown Leather Workboot with Brown Sole      7569
Black Leather Chelsea with Blue Sole             15
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
                                           Footwear
Brown Leather Shoes with Laces             0.210100
White Canvas Sneaker with White Sole       0.179595
Black Suede Chelseas with Brown Sole       0.150492
Black Leather Shoes with Laces             0.140394
Tan Suede Workboot with Tan Sole           0.120155
White Leather Sneaker with Grey Sole       0.119322
Redbrown Leather Workboot with Brown Sole  0.079784
Black Leather Chelsea with Blue Sole       0.000158
=====================================================
=====================================================
7
                Ring
None           80605
Two Rings      13310
Ring One Blue    954
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
                   Ring
None           0.849645
Two Rings      0.140299
Ring One Blue  0.010056
=====================================================
=====================================================
8
                       Headwear
None                      85387
Tan Workers Cap            6152
Navy Blue Workers Cap      2379
Purple Workers Cap          951
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
                       Headwear
None                   0.900052
Tan Workers Cap        0.064847
Navy Blue Workers Cap  0.025077
Purple Workers Cap     0.010024
=====================================================
=====================================================
9
                   Glasses
None                 61674
Black Books          18947
Silver Aviators       9255
Rosegold Aviators     4954
3D Glasses              20
Blue Books              19
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
                    Glasses
None               0.650096
Black Books        0.199718
Silver Aviators    0.097556
Rosegold Aviators  0.052219
3D Glasses         0.000211
Blue Books         0.000200
=====================================================
=====================================================
10
              Piercings
None              85383
Stud Earring       9486
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
              Piercings
None           0.900009
Stud Earring   0.099991
=====================================================
=====================================================
11
                         Accessories
None                           31387
Black Smartphone               20836
Brown Leather Briefcase        17043
Black Leather Briefcase        13250
Lunchbox                        9503
Blue Lunchbox                   1917
Light Blue Smartphone            933
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
                         Accessories
None                        0.330846
Black Smartphone            0.219629
Brown Leather Briefcase     0.179648
Black Leather Briefcase     0.139666
Lunchbox                    0.100170
Blue Lunchbox               0.020207
Light Blue Smartphone       0.009835
=====================================================
=====================================================