In [1]:
%run ./init.ipynb

Length of attributes added  100000
Number of valid rows with attributes  96406

In [2]:
# count of id's with no data
emptyCount = len(np.where(pd.isnull(df['Background']))[0])
print(emptyCount)

3594

In [3]:
# id's that have no data so reserved for Nifty events and giveaways or still pending delivery
np.where(pd.isnull(df['Background']))[0]

array([96406, 96407, 96408, ..., 99997, 99998, 99999])

In [4]:
df[manualColumns[0]].value_counts().to_frame()

       Background
White       96406

In [5]:
df[manualColumns[1]].value_counts().to_frame()

                           Hair Style
None                             9649
Straight Sideswept Fringe        9644
Short Messy                      9606
Buzz Cut                         8698
Short Afro Fade                  8692
Short Coil                       8666
Medium Curly Bob                 7685
Long Messy                       6774
Low Ponytail                     6739
Short Pixie                      6737
Updo Bun                         4840
Short Updo                       4817
Long Straight Bangs              1935
Long Afro                        1924

In [6]:
df[manualColumns[2]].value_counts().to_frame()

             Hair Color
Black             28935
Light Brown       21202
Dark Brown        17382
Blonde            13503
Light Grey         9621
Auburn             5763

In [7]:
df[manualColumns[3]].value_counts().to_frame()

          Facial Hair
None            72363
Stubble          9617
Thin             4820
Mustache         3853
Goatee           3836
Beard            1917

In [8]:
len(df[manualColumns[3]].value_counts())

6

In [9]:
df[manualColumns[4]].value_counts().to_frame()

                                                     Top
Light Gray Longsleeve                               6758
Charcoal Blazer with Light Blue Shirt and No Tie    6048
Blue Longsleeve                                     5769
Navy Blazer with Striped Shirt and No Tie           5217
Navy Oxford with Buttons                            4156
Charcoal Blazer with Light Blue Shirt and Black...  4026
Dark Gray Longsleeve                                3850
Olive Oxford with Buttons                           3529
Navy Blazer with Striped Shirt and Navy Tie         3493
Gray Blazer with Black Shirt and No Tie             3473
Navy Oxford with Tie                                2961
Navy Oxford with Pocket                             2952
Red Longsleeve                                      2925
Tan Blazer with Off-White Shirt and No Tie          2632
Olive Oxford with Pocket                            2517
Olive Oxford with Tie                               2514
Khaki Oxford with Buttons                           2359
Gray Blazer with Black Shirt and Gray Tie           2305
Gray Oxford with Buttons                            1776
Navy Oxford with Tie and Pocket                     1759
Tan Blazer with Off-White Shirt and Tan Tie         1736
Khaki Oxford with Tie                               1697
Navy Jumpsuit                                       1691
Khaki Oxford with Pocket                            1685
Olive Oxford with Tie and Pocket                    1523
Denim Jumpsuit                                      1441
Gray Oxford with Pocket                             1275
Gray Oxford with Tie                                1248
Khaki Oxford with Tie and Pocket                    1010
Gray Jumpsuit                                        964
Gray Oxford with Tie and Pocket                      764
Khaki Jumpsuit                                       716
Light Gray Cardigan with Light Gray Longsleeve ...   702
Light Gray Cardigan with Beige Longsleeve Shirt      605
Dark Gray Cardigan with Light Gray Longsleeve S...   603
Dark Gray Cardigan with Beige Longsleeve Shirt       519
Light Gray Cardigan with Tan Longsleeve Shirt        503
Light Gray Cardigan with Light Gray Oxford Shirt     472
Dark Gray Cardigan with Tan Longsleeve Shirt         435
Olive Cardigan with Light Gray Longsleeve Shirt      407
Dark Gray Cardigan with Light Gray Oxford Shirt      403
Light Gray Cardigan with Beige Oxford Shirt          400
Olive Cardigan with Beige Longsleeve Shirt           356
Dark Gray Cardigan with Beige Oxford Shirt           344
Light Gray Cardigan with Tan Oxford Shirt            342
Brown Cardigan with Light Gray Longsleeve Shirt      307
Dark Gray Cardigan with Tan Oxford Shirt             292
Olve Cardigan with Tan Longsleeve Shirt              289
Olive Cardigan with Light Gray Oxford Shirt          264
Brown Cardigan with Beige Longsleeve Shirt           260
Olive Cardigan with Beige Oxford Shirt               223
Brown Cardigan with Tan Longsleeve Shirt             220
Brown Cardigan with Light Gray Oxford Shirt          206
Light Gray Cardigan with Off-White Longsleeve S...   203
Olive Cardigan with Tan Oxford Shirt                 194
Dark Gray Cardigan with Off-White Longsleeve Shirt   179
Brown Cardigan with Beigse Oxford Shirt              173
Brown Cardigan with Tan Oxford Shirt                 142
Light Gray Cardigan with Off-White Oxford Shirt      136
Dark Gray Cardigan with Off-White Oxford Shirt       118
Olive Cardigan with Off-White Longsleeve Shirt       117
Brown Cardigan with Off-White Longsleeve Shirt        90
Olive Cardigan with Off-White Oxford Shirt            74
Brown Cardigan with Off-White Oxford Shirt            59

In [10]:
df[manualColumns[5]].value_counts().to_frame()

                  Bottom
Charcoal Slacks    21117
Navy Slacks        18077
Gray Slacks        12019
Dark-Wash Denim    10976
Light-Wash Denim    9397
Khaki Slacks        9045
Blue Denim          6282
None                4812
Khaki               4681

df[manualColumns[6]].value_counts().to_frame()

In [11]:
df[manualColumns[7]].value_counts().to_frame()

                Ring
None           81926
Two Rings      13507
Ring One Blue    973

In [12]:
df[manualColumns[8]].value_counts().to_frame()

                       Headwear
None                      86771
Tan Workers Cap            6253
Navy Blue Workers Cap      2415
Purple Workers Cap          967

In [13]:
df[manualColumns[9]].value_counts().to_frame()

                   Glasses
None                 62651
Black Books          19274
Silver Aviators       9402
Rosegold Aviators     5040
3D Glasses              20
Blue Books              19

In [14]:
df[manualColumns[10]].value_counts().to_frame()

              Piercings
None              86791
Stud Earring       9615

In [15]:
df[manualColumns[11]].value_counts().to_frame()

                         Accessories
None                           31875
Black Smartphone               21177
Brown Leather Briefcase        17340
Black Leather Briefcase        13461
Lunchbox                        9658
Blue Lunchbox                   1948
Light Blue Smartphone            947

In [16]:
accessories = 1 / df[manualColumns[11]].value_counts().filter(like='Blue Lunchbox', axis=0)[0]

In [17]:
print(accessories)

0.000513347022587269

In [18]:
i = 1
print(manualColumns[i])
len(df.loc[(df['Bottom'] != 'None') &
           (df['Headwear'] != 'None')  
          ])


df.loc[(df[] == 'None') &
           (df['Headwear'] != 'None')  
          ].head(3)

SyntaxError: invalid syntax (1704682795.py, line 8)

In [19]:
for count in range(0, len(manualColumns)):
    print(manualColumns[count])
    print(len(df.loc[(df[manualColumns[count]] == 'None')
          ]))

Background
0
Hair Style
9649
Hair Color
0
Facial Hair
72363
Top
0
Bottom
4812
Footwear
0
Ring
81926
Headwear
86771
Glasses
62651
Piercings
86791
Accessories
31875

In [20]:
len(df.loc[
    (df[manualColumns[0]] != 'None') &
    (df[manualColumns[1]] != 'None') & 
    (df[manualColumns[2]] != 'None') &
    (df[manualColumns[3]] != 'None') &
    (df[manualColumns[4]] != 'None') &
    (df[manualColumns[5]] != 'None') &
    (df[manualColumns[6]] != 'None') &
    (df[manualColumns[7]] != 'None') &
    (df[manualColumns[8]] != 'None') &
    (df[manualColumns[9]] != 'None') &
    (df[manualColumns[10]] != 'None') &
    (df[manualColumns[11]] != 'None')
])

3598

In [21]:
df.loc[
    (df[manualColumns[0]] != 'None') &
    (df[manualColumns[1]] != 'None') & 
    (df[manualColumns[2]] != 'None') &
    (df[manualColumns[3]] != 'None') &
    (df[manualColumns[4]] != 'None') &
    (df[manualColumns[5]] != 'None') &
    (df[manualColumns[6]] != 'None') &
    (df[manualColumns[7]] != 'None') &
    (df[manualColumns[8]] != 'None') &
    (df[manualColumns[9]] != 'None') &
    (df[manualColumns[10]] != 'None') &
    (df[manualColumns[11]] != 'None')
].head(3)

,ID,Background,Hair Style,Hair Color,Facial Hair,Top,Bottom,Footwear,Ring,Headwear,Glasses,Piercings,Accessories
4897,14898,White,Buzz Cut,Light Grey,Mustache,Olive Oxford with Buttons,Charcoal Slacks,Brown Leather Shoes with Laces,Two Rings,Tan Workers Cap,Black Books,Stud Earring,Black Smartphone
1891,61892,White,Buzz Cut,Light Brown,Goatee,Olive Oxford with Buttons,Dark-Wash Denim,Black Suede Chelseas with Brown Sole,Two Rings,Navy Blue Workers Cap,Black Books,Stud Earring,Black Smartphone
1950,61951,White,Buzz Cut,Light Brown,Goatee,Olive Oxford with Buttons,Dark-Wash Denim,Black Suede Chelseas with Brown Sole,Two Rings,Navy Blue Workers Cap,Black Books,Stud Earring,Black Smartphone

In [22]:
print("Empty Count = ", emptyCount,'out of 100,000')
print('')
for count in range(0, len(manualColumns)):
    print(count)
    print(df[manualColumns[count]].value_counts())
    print(' ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ')
    print(df[manualColumns[count]].value_counts(normalize=True))
    print('=====================================================')
    print('=====================================================')
    #numpy_array = df[manualColums[count]].value_counts().to_numpy()
    #np.savetxt("test_file.txt", np_array_rows_append, numpy_array, fmt = "%d")

Empty Count =  3594 out of 100,000

0
White    96406
Name: Background, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
White    1.0
Name: Background, dtype: float64
=====================================================
=====================================================
1
None                         9649
Straight Sideswept Fringe    9644
Short Messy                  9606
Buzz Cut                     8698
Short Afro Fade              8692
Short Coil                   8666
Medium Curly Bob             7685
Long Messy                   6774
Low Ponytail                 6739
Short Pixie                  6737
Updo Bun                     4840
Short Updo                   4817
Long Straight Bangs          1935
Long Afro                    1924
Name: Hair Style, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None                         0.100087
Straight Sideswept Fringe    0.100035
Short Messy                  0.099641
Buzz Cut                     0.090223
Short Afro Fade              0.090160
Short Coil                   0.089891
Medium Curly Bob             0.079715
Long Messy                   0.070265
Low Ponytail                 0.069902
Short Pixie                  0.069882
Updo Bun                     0.050204
Short Updo                   0.049966
Long Straight Bangs          0.020071
Long Afro                    0.019957
Name: Hair Style, dtype: float64
=====================================================
=====================================================
2
Black          28935
Light Brown    21202
Dark Brown     17382
Blonde         13503
Light Grey      9621
Auburn          5763
Name: Hair Color, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Black          0.300137
Light Brown    0.219924
Dark Brown     0.180300
Blonde         0.140064
Light Grey     0.099797
Auburn         0.059778
Name: Hair Color, dtype: float64
=====================================================
=====================================================
3
None        72363
Stubble      9617
Thin         4820
Mustache     3853
Goatee       3836
Beard        1917
Name: Facial Hair, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None        0.750607
Stubble     0.099755
Thin        0.049997
Mustache    0.039966
Goatee      0.039790
Beard       0.019885
Name: Facial Hair, dtype: float64
=====================================================
=====================================================
4
Light Gray Longsleeve                                   6758
Charcoal Blazer with Light Blue Shirt and No Tie        6048
Blue Longsleeve                                         5769
Navy Blazer with Striped Shirt and No Tie               5217
Navy Oxford with Buttons                                4156
Charcoal Blazer with Light Blue Shirt and Black Tie     4026
Dark Gray Longsleeve                                    3850
Olive Oxford with Buttons                               3529
Navy Blazer with Striped Shirt and Navy Tie             3493
Gray Blazer with Black Shirt and No Tie                 3473
Navy Oxford with Tie                                    2961
Navy Oxford with Pocket                                 2952
Red Longsleeve                                          2925
Tan Blazer with Off-White Shirt and No Tie              2632
Olive Oxford with Pocket                                2517
Olive Oxford with Tie                                   2514
Khaki Oxford with Buttons                               2359
Gray Blazer with Black Shirt and Gray Tie               2305
Gray Oxford with Buttons                                1776
Navy Oxford with Tie and Pocket                         1759
Tan Blazer with Off-White Shirt and Tan Tie             1736
Khaki Oxford with Tie                                   1697
Navy Jumpsuit                                           1691
Khaki Oxford with Pocket                                1685
Olive Oxford with Tie and Pocket                        1523
Denim Jumpsuit                                          1441
Gray Oxford with Pocket                                 1275
Gray Oxford with Tie                                    1248
Khaki Oxford with Tie and Pocket                        1010
Gray Jumpsuit                                            964
Gray Oxford with Tie and Pocket                          764
Khaki Jumpsuit                                           716
Light Gray Cardigan with Light Gray Longsleeve Shirt     702
Light Gray Cardigan with Beige Longsleeve Shirt          605
Dark Gray Cardigan with Light Gray Longsleeve Shirt      603
Dark Gray Cardigan with Beige Longsleeve Shirt           519
Light Gray Cardigan with Tan Longsleeve Shirt            503
Light Gray Cardigan with Light Gray Oxford Shirt         472
Dark Gray Cardigan with Tan Longsleeve Shirt             435
Olive Cardigan with Light Gray Longsleeve Shirt          407
Dark Gray Cardigan with Light Gray Oxford Shirt          403
Light Gray Cardigan with Beige Oxford Shirt              400
Olive Cardigan with Beige Longsleeve Shirt               356
Dark Gray Cardigan with Beige Oxford Shirt               344
Light Gray Cardigan with Tan Oxford Shirt                342
Brown Cardigan with Light Gray Longsleeve Shirt          307
Dark Gray Cardigan with Tan Oxford Shirt                 292
Olve Cardigan with Tan Longsleeve Shirt                  289
Olive Cardigan with Light Gray Oxford Shirt              264
Brown Cardigan with Beige Longsleeve Shirt               260
Olive Cardigan with Beige Oxford Shirt                   223
Brown Cardigan with Tan Longsleeve Shirt                 220
Brown Cardigan with Light Gray Oxford Shirt              206
Light Gray Cardigan with Off-White Longsleeve Shirt      203
Olive Cardigan with Tan Oxford Shirt                     194
Dark Gray Cardigan with Off-White Longsleeve Shirt       179
Brown Cardigan with Beigse Oxford Shirt                  173
Brown Cardigan with Tan Oxford Shirt                     142
Light Gray Cardigan with Off-White Oxford Shirt          136
Dark Gray Cardigan with Off-White Oxford Shirt           118
Olive Cardigan with Off-White Longsleeve Shirt           117
Brown Cardigan with Off-White Longsleeve Shirt            90
Olive Cardigan with Off-White Oxford Shirt                74
Brown Cardigan with Off-White Oxford Shirt                59
Name: Top, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Light Gray Longsleeve                                   0.070099
Charcoal Blazer with Light Blue Shirt and No Tie        0.062735
Blue Longsleeve                                         0.059841
Navy Blazer with Striped Shirt and No Tie               0.054115
Navy Oxford with Buttons                                0.043109
Charcoal Blazer with Light Blue Shirt and Black Tie     0.041761
Dark Gray Longsleeve                                    0.039935
Olive Oxford with Buttons                               0.036606
Navy Blazer with Striped Shirt and Navy Tie             0.036232
Gray Blazer with Black Shirt and No Tie                 0.036025
Navy Oxford with Tie                                    0.030714
Navy Oxford with Pocket                                 0.030621
Red Longsleeve                                          0.030340
Tan Blazer with Off-White Shirt and No Tie              0.027301
Olive Oxford with Pocket                                0.026108
Olive Oxford with Tie                                   0.026077
Khaki Oxford with Buttons                               0.024469
Gray Blazer with Black Shirt and Gray Tie               0.023909
Gray Oxford with Buttons                                0.018422
Navy Oxford with Tie and Pocket                         0.018246
Tan Blazer with Off-White Shirt and Tan Tie             0.018007
Khaki Oxford with Tie                                   0.017603
Navy Jumpsuit                                           0.017540
Khaki Oxford with Pocket                                0.017478
Olive Oxford with Tie and Pocket                        0.015798
Denim Jumpsuit                                          0.014947
Gray Oxford with Pocket                                 0.013225
Gray Oxford with Tie                                    0.012945
Khaki Oxford with Tie and Pocket                        0.010477
Gray Jumpsuit                                           0.009999
Gray Oxford with Tie and Pocket                         0.007925
Khaki Jumpsuit                                          0.007427
Light Gray Cardigan with Light Gray Longsleeve Shirt    0.007282
Light Gray Cardigan with Beige Longsleeve Shirt         0.006276
Dark Gray Cardigan with Light Gray Longsleeve Shirt     0.006255
Dark Gray Cardigan with Beige Longsleeve Shirt          0.005383
Light Gray Cardigan with Tan Longsleeve Shirt           0.005218
Light Gray Cardigan with Light Gray Oxford Shirt        0.004896
Dark Gray Cardigan with Tan Longsleeve Shirt            0.004512
Olive Cardigan with Light Gray Longsleeve Shirt         0.004222
Dark Gray Cardigan with Light Gray Oxford Shirt         0.004180
Light Gray Cardigan with Beige Oxford Shirt             0.004149
Olive Cardigan with Beige Longsleeve Shirt              0.003693
Dark Gray Cardigan with Beige Oxford Shirt              0.003568
Light Gray Cardigan with Tan Oxford Shirt               0.003547
Brown Cardigan with Light Gray Longsleeve Shirt         0.003184
Dark Gray Cardigan with Tan Oxford Shirt                0.003029
Olve Cardigan with Tan Longsleeve Shirt                 0.002998
Olive Cardigan with Light Gray Oxford Shirt             0.002738
Brown Cardigan with Beige Longsleeve Shirt              0.002697
Olive Cardigan with Beige Oxford Shirt                  0.002313
Brown Cardigan with Tan Longsleeve Shirt                0.002282
Brown Cardigan with Light Gray Oxford Shirt             0.002137
Light Gray Cardigan with Off-White Longsleeve Shirt     0.002106
Olive Cardigan with Tan Oxford Shirt                    0.002012
Dark Gray Cardigan with Off-White Longsleeve Shirt      0.001857
Brown Cardigan with Beigse Oxford Shirt                 0.001794
Brown Cardigan with Tan Oxford Shirt                    0.001473
Light Gray Cardigan with Off-White Oxford Shirt         0.001411
Dark Gray Cardigan with Off-White Oxford Shirt          0.001224
Olive Cardigan with Off-White Longsleeve Shirt          0.001214
Brown Cardigan with Off-White Longsleeve Shirt          0.000934
Olive Cardigan with Off-White Oxford Shirt              0.000768
Brown Cardigan with Off-White Oxford Shirt              0.000612
Name: Top, dtype: float64
=====================================================
=====================================================
5
Charcoal Slacks     21117
Navy Slacks         18077
Gray Slacks         12019
Dark-Wash Denim     10976
Light-Wash Denim     9397
Khaki Slacks         9045
Blue Denim           6282
None                 4812
Khaki                4681
Name: Bottom, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Charcoal Slacks     0.219042
Navy Slacks         0.187509
Gray Slacks         0.124671
Dark-Wash Denim     0.113852
Light-Wash Denim    0.097473
Khaki Slacks        0.093822
Blue Denim          0.065162
None                0.049914
Khaki               0.048555
Name: Bottom, dtype: float64
=====================================================
=====================================================
6
Brown Leather Shoes with Laces               20264
White Canvas Sneaker with White Sole         17326
Black Suede Chelseas with Brown Sole         14484
Black Leather Shoes with Laces               13526
Tan Suede Workboot with Tan Sole             11585
White Leather Sneaker with Grey Sole         11504
Redbrown Leather Workboot with Brown Sole     7702
Black Leather Chelsea with Blue Sole            15
Name: Footwear, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Brown Leather Shoes with Laces               0.210194
White Canvas Sneaker with White Sole         0.179719
Black Suede Chelseas with Brown Sole         0.150240
Black Leather Shoes with Laces               0.140302
Tan Suede Workboot with Tan Sole             0.120169
White Leather Sneaker with Grey Sole         0.119329
Redbrown Leather Workboot with Brown Sole    0.079891
Black Leather Chelsea with Blue Sole         0.000156
Name: Footwear, dtype: float64
=====================================================
=====================================================
7
None             81926
Two Rings        13507
Ring One Blue      973
Name: Ring, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None             0.849802
Two Rings        0.140105
Ring One Blue    0.010093
Name: Ring, dtype: float64
=====================================================
=====================================================
8
None                     86771
Tan Workers Cap           6253
Navy Blue Workers Cap     2415
Purple Workers Cap         967
Name: Headwear, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None                     0.900058
Tan Workers Cap          0.064861
Navy Blue Workers Cap    0.025050
Purple Workers Cap       0.010030
Name: Headwear, dtype: float64
=====================================================
=====================================================
9
None                 62651
Black Books          19274
Silver Aviators       9402
Rosegold Aviators     5040
3D Glasses              20
Blue Books              19
Name: Glasses, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None                 0.649866
Black Books          0.199925
Silver Aviators      0.097525
Rosegold Aviators    0.052279
3D Glasses           0.000207
Blue Books           0.000197
Name: Glasses, dtype: float64
=====================================================
=====================================================
10
None            86791
Stud Earring     9615
Name: Piercings, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None            0.900266
Stud Earring    0.099734
Name: Piercings, dtype: float64
=====================================================
=====================================================
11
None                       31875
Black Smartphone           21177
Brown Leather Briefcase    17340
Black Leather Briefcase    13461
Lunchbox                    9658
Blue Lunchbox               1948
Light Blue Smartphone        947
Name: Accessories, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None                       0.330633
Black Smartphone           0.219665
Brown Leather Briefcase    0.179864
Black Leather Briefcase    0.139628
Lunchbox                   0.100180
Blue Lunchbox              0.020206
Light Blue Smartphone      0.009823
Name: Accessories, dtype: float64
=====================================================
=====================================================