In [1]:
%run ./init.ipynb

Length of attributes added  100000
Number of valid rows with attributes  95010

In [2]:
# count of id's with no data
emptyCount = len(np.where(pd.isnull(df['Background']))[0])
print(emptyCount)

4990

In [3]:
# id's that have no data so reserved for Nifty events and giveaways or still pending delivery
np.where(pd.isnull(df['Background']))[0]

array([95010, 95011, 95012, ..., 99997, 99998, 99999])

In [4]:
df[manualColumns[0]].value_counts().to_frame()

       Background
White       95010

In [5]:
df[manualColumns[1]].value_counts().to_frame()

                           Hair Style
None                             9516
Straight Sideswept Fringe        9504
Short Messy                      9480
Buzz Cut                         8571
Short Coil                       8549
Short Afro Fade                  8544
Medium Curly Bob                 7562
Long Messy                       6663
Short Pixie                      6642
Low Ponytail                     6638
Updo Bun                         4778
Short Updo                       4746
Long Straight Bangs              1918
Long Afro                        1899

In [6]:
df[manualColumns[2]].value_counts().to_frame()

             Hair Color
Black             28508
Light Brown       20888
Dark Brown        17157
Blonde            13315
Light Grey         9467
Auburn             5675

In [7]:
df[manualColumns[3]].value_counts().to_frame()

          Facial Hair
None            71320
Stubble          9469
Thin             4751
Mustache         3810
Goatee           3776
Beard            1884

In [8]:
len(df[manualColumns[3]].value_counts())

6

In [9]:
df[manualColumns[4]].value_counts().to_frame()

                                                     Top
Light Gray Longsleeve                               6673
Charcoal Blazer with Light Blue Shirt and No Tie    5963
Blue Longsleeve                                     5690
Navy Blazer with Striped Shirt and No Tie           5135
Navy Oxford with Buttons                            4092
Charcoal Blazer with Light Blue Shirt and Black...  3969
Dark Gray Longsleeve                                3784
Olive Oxford with Buttons                           3474
Navy Blazer with Striped Shirt and Navy Tie         3439
Gray Blazer with Black Shirt and No Tie             3426
Navy Oxford with Tie                                2913
Navy Oxford with Pocket                             2910
Red Longsleeve                                      2883
Tan Blazer with Off-White Shirt and No Tie          2590
Olive Oxford with Tie                               2480
Olive Oxford with Pocket                            2480
Khaki Oxford with Buttons                           2326
Gray Blazer with Black Shirt and Gray Tie           2266
Gray Oxford with Buttons                            1753
Navy Oxford with Tie and Pocket                     1742
Tan Blazer with Off-White Shirt and Tan Tie         1717
Khaki Oxford with Tie                               1671
Khaki Oxford with Pocket                            1667
Navy Jumpsuit                                       1666
Olive Oxford with Tie and Pocket                    1504
Denim Jumpsuit                                      1421
Gray Oxford with Pocket                             1257
Gray Oxford with Tie                                1233
Khaki Oxford with Tie and Pocket                     996
Gray Jumpsuit                                        947
Gray Oxford with Tie and Pocket                      753
Khaki Jumpsuit                                       706
Light Gray Cardigan with Light Gray Longsleeve ...   689
Light Gray Cardigan with Beige Longsleeve Shirt      599
Dark Gray Cardigan with Light Gray Longsleeve S...   594
Dark Gray Cardigan with Beige Longsleeve Shirt       515
Light Gray Cardigan with Tan Longsleeve Shirt        498
Light Gray Cardigan with Light Gray Oxford Shirt     462
Dark Gray Cardigan with Tan Longsleeve Shirt         425
Olive Cardigan with Light Gray Longsleeve Shirt      400
Dark Gray Cardigan with Light Gray Oxford Shirt      397
Light Gray Cardigan with Beige Oxford Shirt          396
Olive Cardigan with Beige Longsleeve Shirt           351
Dark Gray Cardigan with Beige Oxford Shirt           339
Light Gray Cardigan with Tan Oxford Shirt            337
Brown Cardigan with Light Gray Longsleeve Shirt      300
Dark Gray Cardigan with Tan Oxford Shirt             287
Olve Cardigan with Tan Longsleeve Shirt              284
Olive Cardigan with Light Gray Oxford Shirt          258
Brown Cardigan with Beige Longsleeve Shirt           255
Brown Cardigan with Tan Longsleeve Shirt             220
Olive Cardigan with Beige Oxford Shirt               219
Brown Cardigan with Light Gray Oxford Shirt          206
Light Gray Cardigan with Off-White Longsleeve S...   201
Olive Cardigan with Tan Oxford Shirt                 187
Dark Gray Cardigan with Off-White Longsleeve Shirt   174
Brown Cardigan with Beigse Oxford Shirt              171
Brown Cardigan with Tan Oxford Shirt                 138
Light Gray Cardigan with Off-White Oxford Shirt      134
Dark Gray Cardigan with Off-White Oxford Shirt       116
Olive Cardigan with Off-White Longsleeve Shirt       114
Brown Cardigan with Off-White Longsleeve Shirt        88
Olive Cardigan with Off-White Oxford Shirt            73
Brown Cardigan with Off-White Oxford Shirt            57

In [10]:
df[manualColumns[5]].value_counts().to_frame()

                  Bottom
Charcoal Slacks    20800
Navy Slacks        17819
Gray Slacks        11858
Dark-Wash Denim    10817
Light-Wash Denim    9254
Khaki Slacks        8906
Blue Denim          6204
None                4740
Khaki               4612

df[manualColumns[6]].value_counts().to_frame()

In [11]:
df[manualColumns[7]].value_counts().to_frame()

                Ring
None           80724
Two Rings      13329
Ring One Blue    957

In [12]:
df[manualColumns[8]].value_counts().to_frame()

                       Headwear
None                      85516
Tan Workers Cap            6162
Navy Blue Workers Cap      2380
Purple Workers Cap          952

In [13]:
df[manualColumns[9]].value_counts().to_frame()

                   Glasses
None                 61765
Black Books          18973
Silver Aviators       9275
Rosegold Aviators     4958
3D Glasses              20
Blue Books              19

In [14]:
df[manualColumns[10]].value_counts().to_frame()

              Piercings
None              85517
Stud Earring       9493

In [15]:
df[manualColumns[11]].value_counts().to_frame()

                         Accessories
None                           31429
Black Smartphone               20863
Brown Leather Briefcase        17079
Black Leather Briefcase        13264
Lunchbox                        9522
Blue Lunchbox                   1919
Light Blue Smartphone            934

In [16]:
accessories = 1 / df[manualColumns[11]].value_counts().filter(like='Blue Lunchbox', axis=0)[0]

In [17]:
print(accessories)

0.0005211047420531526

In [18]:
print("Empty Count = ", emptyCount,'out of 100,000')
print('')
for count in range(0, len(manualColumns)):
    print(count)
    print(df[manualColumns[count]].value_counts())
    print(' ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ')
    print(df[manualColumns[count]].value_counts(normalize=True))
    print('=====================================================')
    print('=====================================================')
    #numpy_array = df[manualColums[count]].value_counts().to_numpy()
    #np.savetxt("test_file.txt", np_array_rows_append, numpy_array, fmt = "%d")

Empty Count =  4990 out of 100,000

0
White    95010
Name: Background, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
White    1.0
Name: Background, dtype: float64
=====================================================
=====================================================
1
None                         9516
Straight Sideswept Fringe    9504
Short Messy                  9480
Buzz Cut                     8571
Short Coil                   8549
Short Afro Fade              8544
Medium Curly Bob             7562
Long Messy                   6663
Short Pixie                  6642
Low Ponytail                 6638
Updo Bun                     4778
Short Updo                   4746
Long Straight Bangs          1918
Long Afro                    1899
Name: Hair Style, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None                         0.100158
Straight Sideswept Fringe    0.100032
Short Messy                  0.099779
Buzz Cut                     0.090212
Short Coil                   0.089980
Short Afro Fade              0.089927
Medium Curly Bob             0.079592
Long Messy                   0.070129
Short Pixie                  0.069908
Low Ponytail                 0.069866
Updo Bun                     0.050289
Short Updo                   0.049953
Long Straight Bangs          0.020187
Long Afro                    0.019987
Name: Hair Style, dtype: float64
=====================================================
=====================================================
2
Black          28508
Light Brown    20888
Dark Brown     17157
Blonde         13315
Light Grey      9467
Auburn          5675
Name: Hair Color, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Black          0.300053
Light Brown    0.219851
Dark Brown     0.180581
Blonde         0.140143
Light Grey     0.099642
Auburn         0.059731
Name: Hair Color, dtype: float64
=====================================================
=====================================================
3
None        71320
Stubble      9469
Thin         4751
Mustache     3810
Goatee       3776
Beard        1884
Name: Facial Hair, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None        0.750658
Stubble     0.099663
Thin        0.050005
Mustache    0.040101
Goatee      0.039743
Beard       0.019829
Name: Facial Hair, dtype: float64
=====================================================
=====================================================
4
Light Gray Longsleeve                                   6673
Charcoal Blazer with Light Blue Shirt and No Tie        5963
Blue Longsleeve                                         5690
Navy Blazer with Striped Shirt and No Tie               5135
Navy Oxford with Buttons                                4092
Charcoal Blazer with Light Blue Shirt and Black Tie     3969
Dark Gray Longsleeve                                    3784
Olive Oxford with Buttons                               3474
Navy Blazer with Striped Shirt and Navy Tie             3439
Gray Blazer with Black Shirt and No Tie                 3426
Navy Oxford with Tie                                    2913
Navy Oxford with Pocket                                 2910
Red Longsleeve                                          2883
Tan Blazer with Off-White Shirt and No Tie              2590
Olive Oxford with Tie                                   2480
Olive Oxford with Pocket                                2480
Khaki Oxford with Buttons                               2326
Gray Blazer with Black Shirt and Gray Tie               2266
Gray Oxford with Buttons                                1753
Navy Oxford with Tie and Pocket                         1742
Tan Blazer with Off-White Shirt and Tan Tie             1717
Khaki Oxford with Tie                                   1671
Khaki Oxford with Pocket                                1667
Navy Jumpsuit                                           1666
Olive Oxford with Tie and Pocket                        1504
Denim Jumpsuit                                          1421
Gray Oxford with Pocket                                 1257
Gray Oxford with Tie                                    1233
Khaki Oxford with Tie and Pocket                         996
Gray Jumpsuit                                            947
Gray Oxford with Tie and Pocket                          753
Khaki Jumpsuit                                           706
Light Gray Cardigan with Light Gray Longsleeve Shirt     689
Light Gray Cardigan with Beige Longsleeve Shirt          599
Dark Gray Cardigan with Light Gray Longsleeve Shirt      594
Dark Gray Cardigan with Beige Longsleeve Shirt           515
Light Gray Cardigan with Tan Longsleeve Shirt            498
Light Gray Cardigan with Light Gray Oxford Shirt         462
Dark Gray Cardigan with Tan Longsleeve Shirt             425
Olive Cardigan with Light Gray Longsleeve Shirt          400
Dark Gray Cardigan with Light Gray Oxford Shirt          397
Light Gray Cardigan with Beige Oxford Shirt              396
Olive Cardigan with Beige Longsleeve Shirt               351
Dark Gray Cardigan with Beige Oxford Shirt               339
Light Gray Cardigan with Tan Oxford Shirt                337
Brown Cardigan with Light Gray Longsleeve Shirt          300
Dark Gray Cardigan with Tan Oxford Shirt                 287
Olve Cardigan with Tan Longsleeve Shirt                  284
Olive Cardigan with Light Gray Oxford Shirt              258
Brown Cardigan with Beige Longsleeve Shirt               255
Brown Cardigan with Tan Longsleeve Shirt                 220
Olive Cardigan with Beige Oxford Shirt                   219
Brown Cardigan with Light Gray Oxford Shirt              206
Light Gray Cardigan with Off-White Longsleeve Shirt      201
Olive Cardigan with Tan Oxford Shirt                     187
Dark Gray Cardigan with Off-White Longsleeve Shirt       174
Brown Cardigan with Beigse Oxford Shirt                  171
Brown Cardigan with Tan Oxford Shirt                     138
Light Gray Cardigan with Off-White Oxford Shirt          134
Dark Gray Cardigan with Off-White Oxford Shirt           116
Olive Cardigan with Off-White Longsleeve Shirt           114
Brown Cardigan with Off-White Longsleeve Shirt            88
Olive Cardigan with Off-White Oxford Shirt                73
Brown Cardigan with Off-White Oxford Shirt                57
Name: Top, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Light Gray Longsleeve                                   0.070235
Charcoal Blazer with Light Blue Shirt and No Tie        0.062762
Blue Longsleeve                                         0.059888
Navy Blazer with Striped Shirt and No Tie               0.054047
Navy Oxford with Buttons                                0.043069
Charcoal Blazer with Light Blue Shirt and Black Tie     0.041775
Dark Gray Longsleeve                                    0.039827
Olive Oxford with Buttons                               0.036565
Navy Blazer with Striped Shirt and Navy Tie             0.036196
Gray Blazer with Black Shirt and No Tie                 0.036059
Navy Oxford with Tie                                    0.030660
Navy Oxford with Pocket                                 0.030628
Red Longsleeve                                          0.030344
Tan Blazer with Off-White Shirt and No Tie              0.027260
Olive Oxford with Tie                                   0.026103
Olive Oxford with Pocket                                0.026103
Khaki Oxford with Buttons                               0.024482
Gray Blazer with Black Shirt and Gray Tie               0.023850
Gray Oxford with Buttons                                0.018451
Navy Oxford with Tie and Pocket                         0.018335
Tan Blazer with Off-White Shirt and Tan Tie             0.018072
Khaki Oxford with Tie                                   0.017588
Khaki Oxford with Pocket                                0.017546
Navy Jumpsuit                                           0.017535
Olive Oxford with Tie and Pocket                        0.015830
Denim Jumpsuit                                          0.014956
Gray Oxford with Pocket                                 0.013230
Gray Oxford with Tie                                    0.012978
Khaki Oxford with Tie and Pocket                        0.010483
Gray Jumpsuit                                           0.009967
Gray Oxford with Tie and Pocket                         0.007925
Khaki Jumpsuit                                          0.007431
Light Gray Cardigan with Light Gray Longsleeve Shirt    0.007252
Light Gray Cardigan with Beige Longsleeve Shirt         0.006305
Dark Gray Cardigan with Light Gray Longsleeve Shirt     0.006252
Dark Gray Cardigan with Beige Longsleeve Shirt          0.005420
Light Gray Cardigan with Tan Longsleeve Shirt           0.005242
Light Gray Cardigan with Light Gray Oxford Shirt        0.004863
Dark Gray Cardigan with Tan Longsleeve Shirt            0.004473
Olive Cardigan with Light Gray Longsleeve Shirt         0.004210
Dark Gray Cardigan with Light Gray Oxford Shirt         0.004179
Light Gray Cardigan with Beige Oxford Shirt             0.004168
Olive Cardigan with Beige Longsleeve Shirt              0.003694
Dark Gray Cardigan with Beige Oxford Shirt              0.003568
Light Gray Cardigan with Tan Oxford Shirt               0.003547
Brown Cardigan with Light Gray Longsleeve Shirt         0.003158
Dark Gray Cardigan with Tan Oxford Shirt                0.003021
Olve Cardigan with Tan Longsleeve Shirt                 0.002989
Olive Cardigan with Light Gray Oxford Shirt             0.002716
Brown Cardigan with Beige Longsleeve Shirt              0.002684
Brown Cardigan with Tan Longsleeve Shirt                0.002316
Olive Cardigan with Beige Oxford Shirt                  0.002305
Brown Cardigan with Light Gray Oxford Shirt             0.002168
Light Gray Cardigan with Off-White Longsleeve Shirt     0.002116
Olive Cardigan with Tan Oxford Shirt                    0.001968
Dark Gray Cardigan with Off-White Longsleeve Shirt      0.001831
Brown Cardigan with Beigse Oxford Shirt                 0.001800
Brown Cardigan with Tan Oxford Shirt                    0.001452
Light Gray Cardigan with Off-White Oxford Shirt         0.001410
Dark Gray Cardigan with Off-White Oxford Shirt          0.001221
Olive Cardigan with Off-White Longsleeve Shirt          0.001200
Brown Cardigan with Off-White Longsleeve Shirt          0.000926
Olive Cardigan with Off-White Oxford Shirt              0.000768
Brown Cardigan with Off-White Oxford Shirt              0.000600
Name: Top, dtype: float64
=====================================================
=====================================================
5
Charcoal Slacks     20800
Navy Slacks         17819
Gray Slacks         11858
Dark-Wash Denim     10817
Light-Wash Denim     9254
Khaki Slacks         8906
Blue Denim           6204
None                 4740
Khaki                4612
Name: Bottom, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Charcoal Slacks     0.218924
Navy Slacks         0.187549
Gray Slacks         0.124808
Dark-Wash Denim     0.113851
Light-Wash Denim    0.097400
Khaki Slacks        0.093738
Blue Denim          0.065298
None                0.049889
Khaki               0.048542
Name: Bottom, dtype: float64
=====================================================
=====================================================
6
Brown Leather Shoes with Laces               19964
White Canvas Sneaker with White Sole         17065
Black Suede Chelseas with Brown Sole         14298
Black Leather Shoes with Laces               13336
Tan Suede Workboot with Tan Sole             11414
White Leather Sneaker with Grey Sole         11339
Redbrown Leather Workboot with Brown Sole     7579
Black Leather Chelsea with Blue Sole            15
Name: Footwear, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Brown Leather Shoes with Laces               0.210125
White Canvas Sneaker with White Sole         0.179613
Black Suede Chelseas with Brown Sole         0.150489
Black Leather Shoes with Laces               0.140364
Tan Suede Workboot with Tan Sole             0.120135
White Leather Sneaker with Grey Sole         0.119345
Redbrown Leather Workboot with Brown Sole    0.079771
Black Leather Chelsea with Blue Sole         0.000158
Name: Footwear, dtype: float64
=====================================================
=====================================================
7
None             80724
Two Rings        13329
Ring One Blue      957
Name: Ring, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None             0.849637
Two Rings        0.140290
Ring One Blue    0.010073
Name: Ring, dtype: float64
=====================================================
=====================================================
8
None                     85516
Tan Workers Cap           6162
Navy Blue Workers Cap     2380
Purple Workers Cap         952
Name: Headwear, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None                     0.900074
Tan Workers Cap          0.064856
Navy Blue Workers Cap    0.025050
Purple Workers Cap       0.010020
Name: Headwear, dtype: float64
=====================================================
=====================================================
9
None                 61765
Black Books          18973
Silver Aviators       9275
Rosegold Aviators     4958
3D Glasses              20
Blue Books              19
Name: Glasses, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None                 0.650089
Black Books          0.199695
Silver Aviators      0.097621
Rosegold Aviators    0.052184
3D Glasses           0.000211
Blue Books           0.000200
Name: Glasses, dtype: float64
=====================================================
=====================================================
10
None            85517
Stud Earring     9493
Name: Piercings, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None            0.900084
Stud Earring    0.099916
Name: Piercings, dtype: float64
=====================================================
=====================================================
11
None                       31429
Black Smartphone           20863
Brown Leather Briefcase    17079
Black Leather Briefcase    13264
Lunchbox                    9522
Blue Lunchbox               1919
Light Blue Smartphone        934
Name: Accessories, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None                       0.330797
Black Smartphone           0.219587
Brown Leather Briefcase    0.179760
Black Leather Briefcase    0.139606
Lunchbox                   0.100221
Blue Lunchbox              0.020198
Light Blue Smartphone      0.009831
Name: Accessories, dtype: float64
=====================================================
=====================================================