In [1]:
%run ./init.ipynb

Length of attributes added  100000
Number of valid rows with attributes  94871

In [2]:
# count of id's with no data
emptyCount = len(np.where(pd.isnull(df['Background']))[0])
print(emptyCount)

5129

In [3]:
# id's that have no data so reserved for Nifty events and giveaways or still pending delivery
np.where(pd.isnull(df['Background']))[0]

array([29784, 33922, 33923, ..., 99997, 99998, 99999])

In [4]:
# attempt to find the 1 unique avatar with all blue... looks like it is 11621
array = ['Blue Denim']
filterDBottomDF = df.loc[df['Bottom'].isin(array)]
len(filterDBottomDF)
array = ['Blue Lunchbox', 'Light Blue Smartphone']
filterAccesoriesDF = filterDBottomDF.loc[filterDBottomDF['Accessories'].isin(array)]
len(filterAccesoriesDF)
array = ['Black Leather Chelsea with Blue Sole']
filterfootwearDF = filterAccesoriesDF.loc[filterAccesoriesDF['Footwear'].isin(array)]
filterfootwearDF

,ID,Background,Hair Style,Hair Color,Facial Hair,Top,Bottom,Footwear,Ring,Headwear,Glasses,Piercings,Accessories
1620,11621,White,None,Light Brown,None,Navy Oxford with Tie and Pocket,Blue Denim,Black Leather Chelsea with Blue Sole,None,Navy Blue Workers Cap,Blue Books,None,Light Blue Smartphone
3769,68770,White,Medium Curly Bob,Black,None,Gray Oxford with Buttons,Blue Denim,Black Leather Chelsea with Blue Sole,None,None,None,None,Blue Lunchbox

In [5]:
df[manualColumns[0]].value_counts().to_frame()

       Background
White       94871

In [6]:
df[manualColumns[1]].value_counts().to_frame()

                           Hair Style
None                             9504
Straight Sideswept Fringe        9488
Short Messy                      9471
Buzz Cut                         8555
Short Coil                       8540
Short Afro Fade                  8530
Medium Curly Bob                 7547
Long Messy                       6651
Short Pixie                      6635
Low Ponytail                     6629
Updo Bun                         4768
Short Updo                       4739
Long Straight Bangs              1916
Long Afro                        1898

In [7]:
df[manualColumns[2]].value_counts().to_frame()

             Hair Color
Black             28462
Light Brown       20849
Dark Brown        17140
Blonde            13294
Light Grey         9455
Auburn             5671

In [8]:
df[manualColumns[3]].value_counts().to_frame()

          Facial Hair
None            71217
Stubble          9451
Thin             4745
Mustache         3808
Goatee           3769
Beard            1881

In [9]:
len(df[manualColumns[3]].value_counts())

6

In [10]:
df[manualColumns[4]].value_counts().to_frame()

                                                     Top
Light Gray Longsleeve                               6664
Charcoal Blazer with Light Blue Shirt and No Tie    5956
Blue Longsleeve                                     5687
Navy Blazer with Striped Shirt and No Tie           5126
Navy Oxford with Buttons                            4088
Charcoal Blazer with Light Blue Shirt and Black...  3964
Dark Gray Longsleeve                                3783
Olive Oxford with Buttons                           3471
Navy Blazer with Striped Shirt and Navy Tie         3436
Gray Blazer with Black Shirt and No Tie             3417
Navy Oxford with Tie                                2910
Navy Oxford with Pocket                             2903
Red Longsleeve                                      2876
Tan Blazer with Off-White Shirt and No Tie          2583
Olive Oxford with Tie                               2477
Olive Oxford with Pocket                            2473
Khaki Oxford with Buttons                           2322
Gray Blazer with Black Shirt and Gray Tie           2261
Gray Oxford with Buttons                            1752
Navy Oxford with Tie and Pocket                     1738
Tan Blazer with Off-White Shirt and Tan Tie         1716
Khaki Oxford with Pocket                            1665
Khaki Oxford with Tie                               1665
Navy Jumpsuit                                       1665
Olive Oxford with Tie and Pocket                    1503
Denim Jumpsuit                                      1419
Gray Oxford with Pocket                             1255
Gray Oxford with Tie                                1228
Khaki Oxford with Tie and Pocket                     996
Gray Jumpsuit                                        946
Gray Oxford with Tie and Pocket                      752
Khaki Jumpsuit                                       705
Light Gray Cardigan with Light Gray Longsleeve ...   686
Light Gray Cardigan with Beige Longsleeve Shirt      598
Dark Gray Cardigan with Light Gray Longsleeve S...   594
Dark Gray Cardigan with Beige Longsleeve Shirt       515
Light Gray Cardigan with Tan Longsleeve Shirt        498
Light Gray Cardigan with Light Gray Oxford Shirt     460
Dark Gray Cardigan with Tan Longsleeve Shirt         425
Olive Cardigan with Light Gray Longsleeve Shirt      399
Light Gray Cardigan with Beige Oxford Shirt          396
Dark Gray Cardigan with Light Gray Oxford Shirt      396
Olive Cardigan with Beige Longsleeve Shirt           349
Dark Gray Cardigan with Beige Oxford Shirt           338
Light Gray Cardigan with Tan Oxford Shirt            337
Brown Cardigan with Light Gray Longsleeve Shirt      300
Dark Gray Cardigan with Tan Oxford Shirt             286
Olve Cardigan with Tan Longsleeve Shirt              283
Olive Cardigan with Light Gray Oxford Shirt          258
Brown Cardigan with Beige Longsleeve Shirt           255
Brown Cardigan with Tan Longsleeve Shirt             220
Olive Cardigan with Beige Oxford Shirt               219
Brown Cardigan with Light Gray Oxford Shirt          206
Light Gray Cardigan with Off-White Longsleeve S...   201
Olive Cardigan with Tan Oxford Shirt                 186
Dark Gray Cardigan with Off-White Longsleeve Shirt   173
Brown Cardigan with Beigse Oxford Shirt              171
Brown Cardigan with Tan Oxford Shirt                 138
Light Gray Cardigan with Off-White Oxford Shirt      134
Dark Gray Cardigan with Off-White Oxford Shirt       116
Olive Cardigan with Off-White Longsleeve Shirt       114
Brown Cardigan with Off-White Longsleeve Shirt        88
Olive Cardigan with Off-White Oxford Shirt            73
Brown Cardigan with Off-White Oxford Shirt            57

In [11]:
df[manualColumns[5]].value_counts().to_frame()

                  Bottom
Charcoal Slacks    20768
Navy Slacks        17795
Gray Slacks        11839
Dark-Wash Denim    10801
Light-Wash Denim    9234
Khaki Slacks        8896
Blue Denim          6195
None                4735
Khaki               4608

df[manualColumns[6]].value_counts().to_frame()

In [12]:
df[manualColumns[7]].value_counts().to_frame()

                Ring
None           80606
Two Rings      13311
Ring One Blue    954

In [13]:
df[manualColumns[8]].value_counts().to_frame()

                       Headwear
None                      85389
Tan Workers Cap            6152
Navy Blue Workers Cap      2379
Purple Workers Cap          951

In [14]:
df[manualColumns[9]].value_counts().to_frame()

                   Glasses
None                 61674
Black Books          18947
Silver Aviators       9257
Rosegold Aviators     4954
3D Glasses              20
Blue Books              19

In [15]:
df[manualColumns[10]].value_counts().to_frame()

              Piercings
None              85385
Stud Earring       9486

In [16]:
df[manualColumns[11]].value_counts().to_frame()

                         Accessories
None                           31389
Black Smartphone               20836
Brown Leather Briefcase        17043
Black Leather Briefcase        13250
Lunchbox                        9503
Blue Lunchbox                   1917
Light Blue Smartphone            933

In [17]:
accessories = 1 / df[manualColumns[11]].value_counts().filter(like='Blue Lunchbox', axis=0)[0]

In [18]:
print(accessories)

0.0005216484089723526

In [19]:
print("Empty Count = ", emptyCount,'out of 100,000')
print('')
for count in range(0, len(manualColumns)):
    print(count)
    print(df[manualColumns[count]].value_counts())
    print(' ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ')
    print(df[manualColumns[count]].value_counts(normalize=True))
    print('=====================================================')
    print('=====================================================')
    #numpy_array = df[manualColums[count]].value_counts().to_numpy()
    #np.savetxt("test_file.txt", np_array_rows_append, numpy_array, fmt = "%d")

Empty Count =  5129 out of 100,000

0
White    94871
Name: Background, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
White    1.0
Name: Background, dtype: float64
=====================================================
=====================================================
1
None                         9504
Straight Sideswept Fringe    9488
Short Messy                  9471
Buzz Cut                     8555
Short Coil                   8540
Short Afro Fade              8530
Medium Curly Bob             7547
Long Messy                   6651
Short Pixie                  6635
Low Ponytail                 6629
Updo Bun                     4768
Short Updo                   4739
Long Straight Bangs          1916
Long Afro                    1898
Name: Hair Style, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None                         0.100178
Straight Sideswept Fringe    0.100009
Short Messy                  0.099830
Buzz Cut                     0.090175
Short Coil                   0.090017
Short Afro Fade              0.089912
Medium Curly Bob             0.079550
Long Messy                   0.070106
Short Pixie                  0.069937
Low Ponytail                 0.069874
Updo Bun                     0.050258
Short Updo                   0.049952
Long Straight Bangs          0.020196
Long Afro                    0.020006
Name: Hair Style, dtype: float64
=====================================================
=====================================================
2
Black          28462
Light Brown    20849
Dark Brown     17140
Blonde         13294
Light Grey      9455
Auburn          5671
Name: Hair Color, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Black          0.300007
Light Brown    0.219762
Dark Brown     0.180666
Blonde         0.140127
Light Grey     0.099662
Auburn         0.059776
Name: Hair Color, dtype: float64
=====================================================
=====================================================
3
None        71217
Stubble      9451
Thin         4745
Mustache     3808
Goatee       3769
Beard        1881
Name: Facial Hair, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None        0.750672
Stubble     0.099619
Thin        0.050015
Mustache    0.040139
Goatee      0.039728
Beard       0.019827
Name: Facial Hair, dtype: float64
=====================================================
=====================================================
4
Light Gray Longsleeve                                   6664
Charcoal Blazer with Light Blue Shirt and No Tie        5956
Blue Longsleeve                                         5687
Navy Blazer with Striped Shirt and No Tie               5126
Navy Oxford with Buttons                                4088
Charcoal Blazer with Light Blue Shirt and Black Tie     3964
Dark Gray Longsleeve                                    3783
Olive Oxford with Buttons                               3471
Navy Blazer with Striped Shirt and Navy Tie             3436
Gray Blazer with Black Shirt and No Tie                 3417
Navy Oxford with Tie                                    2910
Navy Oxford with Pocket                                 2903
Red Longsleeve                                          2876
Tan Blazer with Off-White Shirt and No Tie              2583
Olive Oxford with Tie                                   2477
Olive Oxford with Pocket                                2473
Khaki Oxford with Buttons                               2322
Gray Blazer with Black Shirt and Gray Tie               2261
Gray Oxford with Buttons                                1752
Navy Oxford with Tie and Pocket                         1738
Tan Blazer with Off-White Shirt and Tan Tie             1716
Khaki Oxford with Pocket                                1665
Khaki Oxford with Tie                                   1665
Navy Jumpsuit                                           1665
Olive Oxford with Tie and Pocket                        1503
Denim Jumpsuit                                          1419
Gray Oxford with Pocket                                 1255
Gray Oxford with Tie                                    1228
Khaki Oxford with Tie and Pocket                         996
Gray Jumpsuit                                            946
Gray Oxford with Tie and Pocket                          752
Khaki Jumpsuit                                           705
Light Gray Cardigan with Light Gray Longsleeve Shirt     686
Light Gray Cardigan with Beige Longsleeve Shirt          598
Dark Gray Cardigan with Light Gray Longsleeve Shirt      594
Dark Gray Cardigan with Beige Longsleeve Shirt           515
Light Gray Cardigan with Tan Longsleeve Shirt            498
Light Gray Cardigan with Light Gray Oxford Shirt         460
Dark Gray Cardigan with Tan Longsleeve Shirt             425
Olive Cardigan with Light Gray Longsleeve Shirt          399
Light Gray Cardigan with Beige Oxford Shirt              396
Dark Gray Cardigan with Light Gray Oxford Shirt          396
Olive Cardigan with Beige Longsleeve Shirt               349
Dark Gray Cardigan with Beige Oxford Shirt               338
Light Gray Cardigan with Tan Oxford Shirt                337
Brown Cardigan with Light Gray Longsleeve Shirt          300
Dark Gray Cardigan with Tan Oxford Shirt                 286
Olve Cardigan with Tan Longsleeve Shirt                  283
Olive Cardigan with Light Gray Oxford Shirt              258
Brown Cardigan with Beige Longsleeve Shirt               255
Brown Cardigan with Tan Longsleeve Shirt                 220
Olive Cardigan with Beige Oxford Shirt                   219
Brown Cardigan with Light Gray Oxford Shirt              206
Light Gray Cardigan with Off-White Longsleeve Shirt      201
Olive Cardigan with Tan Oxford Shirt                     186
Dark Gray Cardigan with Off-White Longsleeve Shirt       173
Brown Cardigan with Beigse Oxford Shirt                  171
Brown Cardigan with Tan Oxford Shirt                     138
Light Gray Cardigan with Off-White Oxford Shirt          134
Dark Gray Cardigan with Off-White Oxford Shirt           116
Olive Cardigan with Off-White Longsleeve Shirt           114
Brown Cardigan with Off-White Longsleeve Shirt            88
Olive Cardigan with Off-White Oxford Shirt                73
Brown Cardigan with Off-White Oxford Shirt                57
Name: Top, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Light Gray Longsleeve                                   0.070243
Charcoal Blazer with Light Blue Shirt and No Tie        0.062780
Blue Longsleeve                                         0.059945
Navy Blazer with Striped Shirt and No Tie               0.054031
Navy Oxford with Buttons                                0.043090
Charcoal Blazer with Light Blue Shirt and Black Tie     0.041783
Dark Gray Longsleeve                                    0.039875
Olive Oxford with Buttons                               0.036587
Navy Blazer with Striped Shirt and Navy Tie             0.036218
Gray Blazer with Black Shirt and No Tie                 0.036017
Navy Oxford with Tie                                    0.030673
Navy Oxford with Pocket                                 0.030599
Red Longsleeve                                          0.030315
Tan Blazer with Off-White Shirt and No Tie              0.027226
Olive Oxford with Tie                                   0.026109
Olive Oxford with Pocket                                0.026067
Khaki Oxford with Buttons                               0.024475
Gray Blazer with Black Shirt and Gray Tie               0.023832
Gray Oxford with Buttons                                0.018467
Navy Oxford with Tie and Pocket                         0.018320
Tan Blazer with Off-White Shirt and Tan Tie             0.018088
Khaki Oxford with Pocket                                0.017550
Khaki Oxford with Tie                                   0.017550
Navy Jumpsuit                                           0.017550
Olive Oxford with Tie and Pocket                        0.015843
Denim Jumpsuit                                          0.014957
Gray Oxford with Pocket                                 0.013228
Gray Oxford with Tie                                    0.012944
Khaki Oxford with Tie and Pocket                        0.010498
Gray Jumpsuit                                           0.009971
Gray Oxford with Tie and Pocket                         0.007927
Khaki Jumpsuit                                          0.007431
Light Gray Cardigan with Light Gray Longsleeve Shirt    0.007231
Light Gray Cardigan with Beige Longsleeve Shirt         0.006303
Dark Gray Cardigan with Light Gray Longsleeve Shirt     0.006261
Dark Gray Cardigan with Beige Longsleeve Shirt          0.005428
Light Gray Cardigan with Tan Longsleeve Shirt           0.005249
Light Gray Cardigan with Light Gray Oxford Shirt        0.004849
Dark Gray Cardigan with Tan Longsleeve Shirt            0.004480
Olive Cardigan with Light Gray Longsleeve Shirt         0.004206
Light Gray Cardigan with Beige Oxford Shirt             0.004174
Dark Gray Cardigan with Light Gray Oxford Shirt         0.004174
Olive Cardigan with Beige Longsleeve Shirt              0.003679
Dark Gray Cardigan with Beige Oxford Shirt              0.003563
Light Gray Cardigan with Tan Oxford Shirt               0.003552
Brown Cardigan with Light Gray Longsleeve Shirt         0.003162
Dark Gray Cardigan with Tan Oxford Shirt                0.003015
Olve Cardigan with Tan Longsleeve Shirt                 0.002983
Olive Cardigan with Light Gray Oxford Shirt             0.002719
Brown Cardigan with Beige Longsleeve Shirt              0.002688
Brown Cardigan with Tan Longsleeve Shirt                0.002319
Olive Cardigan with Beige Oxford Shirt                  0.002308
Brown Cardigan with Light Gray Oxford Shirt             0.002171
Light Gray Cardigan with Off-White Longsleeve Shirt     0.002119
Olive Cardigan with Tan Oxford Shirt                    0.001961
Dark Gray Cardigan with Off-White Longsleeve Shirt      0.001824
Brown Cardigan with Beigse Oxford Shirt                 0.001802
Brown Cardigan with Tan Oxford Shirt                    0.001455
Light Gray Cardigan with Off-White Oxford Shirt         0.001412
Dark Gray Cardigan with Off-White Oxford Shirt          0.001223
Olive Cardigan with Off-White Longsleeve Shirt          0.001202
Brown Cardigan with Off-White Longsleeve Shirt          0.000928
Olive Cardigan with Off-White Oxford Shirt              0.000769
Brown Cardigan with Off-White Oxford Shirt              0.000601
Name: Top, dtype: float64
=====================================================
=====================================================
5
Charcoal Slacks     20768
Navy Slacks         17795
Gray Slacks         11839
Dark-Wash Denim     10801
Light-Wash Denim     9234
Khaki Slacks         8896
Blue Denim           6195
None                 4735
Khaki                4608
Name: Bottom, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Charcoal Slacks     0.218908
Navy Slacks         0.187570
Gray Slacks         0.124791
Dark-Wash Denim     0.113849
Light-Wash Denim    0.097332
Khaki Slacks        0.093769
Blue Denim          0.065299
None                0.049910
Khaki               0.048571
Name: Bottom, dtype: float64
=====================================================
=====================================================
6
Brown Leather Shoes with Laces               19933
White Canvas Sneaker with White Sole         17038
Black Suede Chelseas with Brown Sole         14278
Black Leather Shoes with Laces               13319
Tan Suede Workboot with Tan Sole             11399
White Leather Sneaker with Grey Sole         11320
Redbrown Leather Workboot with Brown Sole     7569
Black Leather Chelsea with Blue Sole            15
Name: Footwear, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Brown Leather Shoes with Laces               0.210106
White Canvas Sneaker with White Sole         0.179591
Black Suede Chelseas with Brown Sole         0.150499
Black Leather Shoes with Laces               0.140391
Tan Suede Workboot with Tan Sole             0.120153
White Leather Sneaker with Grey Sole         0.119320
Redbrown Leather Workboot with Brown Sole    0.079782
Black Leather Chelsea with Blue Sole         0.000158
Name: Footwear, dtype: float64
=====================================================
=====================================================
7
None             80606
Two Rings        13311
Ring One Blue      954
Name: Ring, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None             0.849638
Two Rings        0.140306
Ring One Blue    0.010056
Name: Ring, dtype: float64
=====================================================
=====================================================
8
None                     85389
Tan Workers Cap           6152
Navy Blue Workers Cap     2379
Purple Workers Cap         951
Name: Headwear, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None                     0.900054
Tan Workers Cap          0.064846
Navy Blue Workers Cap    0.025076
Purple Workers Cap       0.010024
Name: Headwear, dtype: float64
=====================================================
=====================================================
9
None                 61674
Black Books          18947
Silver Aviators       9257
Rosegold Aviators     4954
3D Glasses              20
Blue Books              19
Name: Glasses, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None                 0.650083
Black Books          0.199713
Silver Aviators      0.097575
Rosegold Aviators    0.052218
3D Glasses           0.000211
Blue Books           0.000200
Name: Glasses, dtype: float64
=====================================================
=====================================================
10
None            85385
Stud Earring     9486
Name: Piercings, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None            0.900012
Stud Earring    0.099988
Name: Piercings, dtype: float64
=====================================================
=====================================================
11
None                       31389
Black Smartphone           20836
Brown Leather Briefcase    17043
Black Leather Briefcase    13250
Lunchbox                    9503
Blue Lunchbox               1917
Light Blue Smartphone        933
Name: Accessories, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
None                       0.330860
Black Smartphone           0.219625
Brown Leather Briefcase    0.179644
Black Leather Briefcase    0.139663
Lunchbox                   0.100168
Blue Lunchbox              0.020206
Light Blue Smartphone      0.009834
Name: Accessories, dtype: float64
=====================================================
=====================================================