In [20]:
%run ./init.ipynb

Length of attributes added  100000
Number of valid rows with attributes  96934

In [21]:
# count of id's with no data
emptyCount = len(np.where(pd.isnull(df['Background']))[0])
print(emptyCount)

3066

In [22]:
# id's that have no data so reserved for Nifty events and giveaways or still pending delivery
np.where(pd.isnull(df['Background']))[0]

array([96934, 96935, 96936, ..., 99997, 99998, 99999])

In [23]:
df[manualColumns[0]].value_counts().to_frame()

       Background
White       96934

In [24]:
df[manualColumns[1]].value_counts().to_frame()

                           Hair Style
Straight Sideswept Fringe        9693
Short Messy                      9666
Buzz Cut                         8751
Short Afro Fade                  8736
Short Coil                       8704
Medium Curly Bob                 7729
Long Messy                       6806
Short Pixie                      6777
Low Ponytail                     6776
Updo Bun                         4862
Short Updo                       4846
Long Straight Bangs              1945
Long Afro                        1938

In [25]:
df[manualColumns[2]].value_counts().to_frame()

             Hair Color
Black             29077
Light Brown       21314
Dark Brown        17475
Blonde            13585
Light Grey         9686
Auburn             5797

In [26]:
df[manualColumns[3]].value_counts().to_frame()

          Facial Hair
Stubble          9672
Thin             4855
Mustache         3875
Goatee           3848
Beard            1930

In [27]:
len(df[manualColumns[3]].value_counts())

5

In [28]:
df[manualColumns[4]].value_counts().to_frame()

                                                     Top
Light Gray Longsleeve                               6796
Charcoal Blazer with Light Blue Shirt and No Tie    6084
Blue Longsleeve                                     5799
Navy Blazer with Striped Shirt and No Tie           5247
Navy Oxford with Buttons                            4172
Charcoal Blazer with Light Blue Shirt and Black...  4045
Dark Gray Longsleeve                                3874
Olive Oxford with Buttons                           3546
Navy Blazer with Striped Shirt and Navy Tie         3510
Gray Blazer with Black Shirt and No Tie             3491
Navy Oxford with Tie                                2979
Navy Oxford with Pocket                             2969
Red Longsleeve                                      2940
Tan Blazer with Off-White Shirt and No Tie          2644
Olive Oxford with Tie                               2536
Olive Oxford with Pocket                            2529
Khaki Oxford with Buttons                           2368
Gray Blazer with Black Shirt and Gray Tie           2322
Gray Oxford with Buttons                            1788
Navy Oxford with Tie and Pocket                     1769
Tan Blazer with Off-White Shirt and Tan Tie         1742
Khaki Oxford with Tie                               1702
Navy Jumpsuit                                       1701
Khaki Oxford with Pocket                            1696
Olive Oxford with Tie and Pocket                    1532
Denim Jumpsuit                                      1449
Gray Oxford with Pocket                             1280
Gray Oxford with Tie                                1254
Khaki Oxford with Tie and Pocket                    1017
Gray Jumpsuit                                        968
Gray Oxford with Tie and Pocket                      769
Khaki Jumpsuit                                       722
Light Gray Cardigan with Light Gray Longsleeve ...   708
Dark Gray Cardigan with Light Gray Longsleeve S...   607
Light Gray Cardigan with Beige Longsleeve Shirt      605
Dark Gray Cardigan with Beige Longsleeve Shirt       521
Light Gray Cardigan with Tan Longsleeve Shirt        505
Light Gray Cardigan with Light Gray Oxford Shirt     475
Dark Gray Cardigan with Tan Longsleeve Shirt         437
Olive Cardigan with Light Gray Longsleeve Shirt      411
Dark Gray Cardigan with Light Gray Oxford Shirt      407
Light Gray Cardigan with Beige Oxford Shirt          402
Olive Cardigan with Beige Longsleeve Shirt           357
Dark Gray Cardigan with Beige Oxford Shirt           351
Light Gray Cardigan with Tan Oxford Shirt            344
Brown Cardigan with Light Gray Longsleeve Shirt      307
Dark Gray Cardigan with Tan Oxford Shirt             292
Olve Cardigan with Tan Longsleeve Shirt              289
Olive Cardigan with Light Gray Oxford Shirt          265
Brown Cardigan with Beige Longsleeve Shirt           261
Olive Cardigan with Beige Oxford Shirt               228
Brown Cardigan with Tan Longsleeve Shirt             220
Brown Cardigan with Light Gray Oxford Shirt          207
Light Gray Cardigan with Off-White Longsleeve S...   203
Olive Cardigan with Tan Oxford Shirt                 195
Dark Gray Cardigan with Off-White Longsleeve Shirt   181
Brown Cardigan with Beigse Oxford Shirt              175
Brown Cardigan with Tan Oxford Shirt                 144
Light Gray Cardigan with Off-White Oxford Shirt      136
Dark Gray Cardigan with Off-White Oxford Shirt       119
Olive Cardigan with Off-White Longsleeve Shirt       118
Brown Cardigan with Off-White Longsleeve Shirt        90
Olive Cardigan with Off-White Oxford Shirt            75
Brown Cardigan with Off-White Oxford Shirt            59

In [29]:
df[manualColumns[5]].value_counts().to_frame()

                  Bottom
Charcoal Slacks    21231
Navy Slacks        18172
Gray Slacks        12088
Dark-Wash Denim    11038
Light-Wash Denim    9456
Khaki Slacks        9083
Blue Denim          6310
Khaki               4716

df[manualColumns[6]].value_counts().to_frame()

In [30]:
df[manualColumns[7]].value_counts().to_frame()

                Ring
Two Rings      13582
Ring One Blue    975

In [31]:
df[manualColumns[8]].value_counts().to_frame()

                       Headwear
Tan Workers Cap            6293
Navy Blue Workers Cap      2430
Purple Workers Cap          975

In [32]:
df[manualColumns[9]].value_counts().to_frame()

                   Glasses
Black Books          19381
Silver Aviators       9457
Rosegold Aviators     5073
Blue Books              20
3D Glasses              20

In [33]:
df[manualColumns[10]].value_counts().to_frame()

              Piercings
Stud Earring       9681

In [34]:
df[manualColumns[11]].value_counts().to_frame()

                         Accessories
Black Smartphone               21295
Brown Leather Briefcase        17429
Black Leather Briefcase        13546
Lunchbox                        9714
Blue Lunchbox                   1952
Light Blue Smartphone            950

In [35]:
accessories = 1 / df[manualColumns[11]].value_counts().filter(like='Blue Lunchbox', axis=0)[0]

In [36]:
array = ['Black Leather Briefcase']
filterAcc = df.loc[df['Accessories'].isin(array)]
array = ['Black']
filterHair = filterAcc.loc[filterAcc['Hair Color'].isin(array)]
array = ['Long Afro']
filterHairStyle = filterHair.loc[filterHair['Hair Style'].isin(array)]
array = ['Light-Wash Denim']
filterbottom = filterHairStyle.loc[filterHairStyle['Bottom'].isin(array)]

filterbottom[manualColumns[5]]
len(filterbottom)

24

In [37]:
print(accessories)

0.0005122950819672131

In [38]:
for count in range(0, len(manualColumns)):
    print(manualColumns[count])
    print(len(df.loc[(df[manualColumns[count]] == 'None')
          ]))

Background
0
Hair Style
0
Hair Color
0
Facial Hair
0
Top
0
Bottom
0
Footwear
0
Ring
0
Headwear
0
Glasses
0
Piercings
0
Accessories
0

In [ ]:
len(df.loc[
    (df[manualColumns[0]] != 'None') &
    (df[manualColumns[1]] != 'None') & 
    (df[manualColumns[2]] != 'None') &
    (df[manualColumns[3]] != 'None') &
    (df[manualColumns[4]] != 'None') &
    (df[manualColumns[5]] != 'None') &
    (df[manualColumns[6]] != 'None') &
    (df[manualColumns[7]] != 'None') &
    (df[manualColumns[8]] != 'None') &
    (df[manualColumns[9]] != 'None') &
    (df[manualColumns[10]] != 'None') &
    (df[manualColumns[11]] != 'None')
])

In [ ]:
df.loc[
    (df[manualColumns[0]] != 'None') &
    (df[manualColumns[1]] != 'None') & 
    (df[manualColumns[2]] != 'None') &
    (df[manualColumns[3]] != 'None') &
    (df[manualColumns[4]] != 'None') &
    (df[manualColumns[5]] != 'None') &
    (df[manualColumns[6]] != 'None') &
    (df[manualColumns[7]] != 'None') &
    (df[manualColumns[8]] != 'None') &
    (df[manualColumns[9]] != 'None') &
    (df[manualColumns[10]] != 'None') &
    (df[manualColumns[11]] != 'None')
].head(3)

In [39]:
print("Empty Count = ", emptyCount,'out of 100,000')
print('')
for count in range(0, len(manualColumns)):
    print(count)
    print(df[manualColumns[count]].value_counts())
    print(' ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ')
    print(df[manualColumns[count]].value_counts(normalize=True))
    print('=====================================================')
    print('=====================================================')
    #numpy_array = df[manualColums[count]].value_counts().to_numpy()
    #np.savetxt("test_file.txt", np_array_rows_append, numpy_array, fmt = "%d")

Empty Count =  3066 out of 100,000

0
White    96934
Name: Background, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
White    1.0
Name: Background, dtype: float64
=====================================================
=====================================================
1
Straight Sideswept Fringe    9693
Short Messy                  9666
Buzz Cut                     8751
Short Afro Fade              8736
Short Coil                   8704
Medium Curly Bob             7729
Long Messy                   6806
Short Pixie                  6777
Low Ponytail                 6776
Updo Bun                     4862
Short Updo                   4846
Long Straight Bangs          1945
Long Afro                    1938
Name: Hair Style, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Straight Sideswept Fringe    0.111121
Short Messy                  0.110812
Buzz Cut                     0.100322
Short Afro Fade              0.100150
Short Coil                   0.099783
Medium Curly Bob             0.088606
Long Messy                   0.078025
Short Pixie                  0.077692
Low Ponytail                 0.077681
Updo Bun                     0.055738
Short Updo                   0.055555
Long Straight Bangs          0.022298
Long Afro                    0.022217
Name: Hair Style, dtype: float64
=====================================================
=====================================================
2
Black          29077
Light Brown    21314
Dark Brown     17475
Blonde         13585
Light Grey      9686
Auburn          5797
Name: Hair Color, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Black          0.299967
Light Brown    0.219882
Dark Brown     0.180277
Blonde         0.140147
Light Grey     0.099924
Auburn         0.059804
Name: Hair Color, dtype: float64
=====================================================
=====================================================
3
Stubble     9672
Thin        4855
Mustache    3875
Goatee      3848
Beard       1930
Name: Facial Hair, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Stubble     0.400000
Thin        0.200786
Mustache    0.160256
Goatee      0.159140
Beard       0.079818
Name: Facial Hair, dtype: float64
=====================================================
=====================================================
4
Light Gray Longsleeve                                   6796
Charcoal Blazer with Light Blue Shirt and No Tie        6084
Blue Longsleeve                                         5799
Navy Blazer with Striped Shirt and No Tie               5247
Navy Oxford with Buttons                                4172
Charcoal Blazer with Light Blue Shirt and Black Tie     4045
Dark Gray Longsleeve                                    3874
Olive Oxford with Buttons                               3546
Navy Blazer with Striped Shirt and Navy Tie             3510
Gray Blazer with Black Shirt and No Tie                 3491
Navy Oxford with Tie                                    2979
Navy Oxford with Pocket                                 2969
Red Longsleeve                                          2940
Tan Blazer with Off-White Shirt and No Tie              2644
Olive Oxford with Tie                                   2536
Olive Oxford with Pocket                                2529
Khaki Oxford with Buttons                               2368
Gray Blazer with Black Shirt and Gray Tie               2322
Gray Oxford with Buttons                                1788
Navy Oxford with Tie and Pocket                         1769
Tan Blazer with Off-White Shirt and Tan Tie             1742
Khaki Oxford with Tie                                   1702
Navy Jumpsuit                                           1701
Khaki Oxford with Pocket                                1696
Olive Oxford with Tie and Pocket                        1532
Denim Jumpsuit                                          1449
Gray Oxford with Pocket                                 1280
Gray Oxford with Tie                                    1254
Khaki Oxford with Tie and Pocket                        1017
Gray Jumpsuit                                            968
Gray Oxford with Tie and Pocket                          769
Khaki Jumpsuit                                           722
Light Gray Cardigan with Light Gray Longsleeve Shirt     708
Dark Gray Cardigan with Light Gray Longsleeve Shirt      607
Light Gray Cardigan with Beige Longsleeve Shirt          605
Dark Gray Cardigan with Beige Longsleeve Shirt           521
Light Gray Cardigan with Tan Longsleeve Shirt            505
Light Gray Cardigan with Light Gray Oxford Shirt         475
Dark Gray Cardigan with Tan Longsleeve Shirt             437
Olive Cardigan with Light Gray Longsleeve Shirt          411
Dark Gray Cardigan with Light Gray Oxford Shirt          407
Light Gray Cardigan with Beige Oxford Shirt              402
Olive Cardigan with Beige Longsleeve Shirt               357
Dark Gray Cardigan with Beige Oxford Shirt               351
Light Gray Cardigan with Tan Oxford Shirt                344
Brown Cardigan with Light Gray Longsleeve Shirt          307
Dark Gray Cardigan with Tan Oxford Shirt                 292
Olve Cardigan with Tan Longsleeve Shirt                  289
Olive Cardigan with Light Gray Oxford Shirt              265
Brown Cardigan with Beige Longsleeve Shirt               261
Olive Cardigan with Beige Oxford Shirt                   228
Brown Cardigan with Tan Longsleeve Shirt                 220
Brown Cardigan with Light Gray Oxford Shirt              207
Light Gray Cardigan with Off-White Longsleeve Shirt      203
Olive Cardigan with Tan Oxford Shirt                     195
Dark Gray Cardigan with Off-White Longsleeve Shirt       181
Brown Cardigan with Beigse Oxford Shirt                  175
Brown Cardigan with Tan Oxford Shirt                     144
Light Gray Cardigan with Off-White Oxford Shirt          136
Dark Gray Cardigan with Off-White Oxford Shirt           119
Olive Cardigan with Off-White Longsleeve Shirt           118
Brown Cardigan with Off-White Longsleeve Shirt            90
Olive Cardigan with Off-White Oxford Shirt                75
Brown Cardigan with Off-White Oxford Shirt                59
Name: Top, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Light Gray Longsleeve                                   0.070110
Charcoal Blazer with Light Blue Shirt and No Tie        0.062764
Blue Longsleeve                                         0.059824
Navy Blazer with Striped Shirt and No Tie               0.054130
Navy Oxford with Buttons                                0.043040
Charcoal Blazer with Light Blue Shirt and Black Tie     0.041729
Dark Gray Longsleeve                                    0.039965
Olive Oxford with Buttons                               0.036582
Navy Blazer with Striped Shirt and Navy Tie             0.036210
Gray Blazer with Black Shirt and No Tie                 0.036014
Navy Oxford with Tie                                    0.030732
Navy Oxford with Pocket                                 0.030629
Red Longsleeve                                          0.030330
Tan Blazer with Off-White Shirt and No Tie              0.027276
Olive Oxford with Tie                                   0.026162
Olive Oxford with Pocket                                0.026090
Khaki Oxford with Buttons                               0.024429
Gray Blazer with Black Shirt and Gray Tie               0.023954
Gray Oxford with Buttons                                0.018446
Navy Oxford with Tie and Pocket                         0.018250
Tan Blazer with Off-White Shirt and Tan Tie             0.017971
Khaki Oxford with Tie                                   0.017558
Navy Jumpsuit                                           0.017548
Khaki Oxford with Pocket                                0.017496
Olive Oxford with Tie and Pocket                        0.015805
Denim Jumpsuit                                          0.014948
Gray Oxford with Pocket                                 0.013205
Gray Oxford with Tie                                    0.012937
Khaki Oxford with Tie and Pocket                        0.010492
Gray Jumpsuit                                           0.009986
Gray Oxford with Tie and Pocket                         0.007933
Khaki Jumpsuit                                          0.007448
Light Gray Cardigan with Light Gray Longsleeve Shirt    0.007304
Dark Gray Cardigan with Light Gray Longsleeve Shirt     0.006262
Light Gray Cardigan with Beige Longsleeve Shirt         0.006241
Dark Gray Cardigan with Beige Longsleeve Shirt          0.005375
Light Gray Cardigan with Tan Longsleeve Shirt           0.005210
Light Gray Cardigan with Light Gray Oxford Shirt        0.004900
Dark Gray Cardigan with Tan Longsleeve Shirt            0.004508
Olive Cardigan with Light Gray Longsleeve Shirt         0.004240
Dark Gray Cardigan with Light Gray Oxford Shirt         0.004199
Light Gray Cardigan with Beige Oxford Shirt             0.004147
Olive Cardigan with Beige Longsleeve Shirt              0.003683
Dark Gray Cardigan with Beige Oxford Shirt              0.003621
Light Gray Cardigan with Tan Oxford Shirt               0.003549
Brown Cardigan with Light Gray Longsleeve Shirt         0.003167
Dark Gray Cardigan with Tan Oxford Shirt                0.003012
Olve Cardigan with Tan Longsleeve Shirt                 0.002981
Olive Cardigan with Light Gray Oxford Shirt             0.002734
Brown Cardigan with Beige Longsleeve Shirt              0.002693
Olive Cardigan with Beige Oxford Shirt                  0.002352
Brown Cardigan with Tan Longsleeve Shirt                0.002270
Brown Cardigan with Light Gray Oxford Shirt             0.002135
Light Gray Cardigan with Off-White Longsleeve Shirt     0.002094
Olive Cardigan with Tan Oxford Shirt                    0.002012
Dark Gray Cardigan with Off-White Longsleeve Shirt      0.001867
Brown Cardigan with Beigse Oxford Shirt                 0.001805
Brown Cardigan with Tan Oxford Shirt                    0.001486
Light Gray Cardigan with Off-White Oxford Shirt         0.001403
Dark Gray Cardigan with Off-White Oxford Shirt          0.001228
Olive Cardigan with Off-White Longsleeve Shirt          0.001217
Brown Cardigan with Off-White Longsleeve Shirt          0.000928
Olive Cardigan with Off-White Oxford Shirt              0.000774
Brown Cardigan with Off-White Oxford Shirt              0.000609
Name: Top, dtype: float64
=====================================================
=====================================================
5
Charcoal Slacks     21231
Navy Slacks         18172
Gray Slacks         12088
Dark-Wash Denim     11038
Light-Wash Denim     9456
Khaki Slacks         9083
Blue Denim           6310
Khaki                4716
Name: Bottom, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Charcoal Slacks     0.230536
Navy Slacks         0.197320
Gray Slacks         0.131257
Dark-Wash Denim     0.119856
Light-Wash Denim    0.102678
Khaki Slacks        0.098627
Blue Denim          0.068517
Khaki               0.051209
Name: Bottom, dtype: float64
=====================================================
=====================================================
6
Brown Leather Shoes with Laces               20377
White Canvas Sneaker with White Sole         17420
Black Suede Chelseas with Brown Sole         14558
Black Leather Shoes with Laces               13602
Tan Suede Workboot with Tan Sole             11657
White Leather Sneaker with Grey Sole         11566
Redbrown Leather Workboot with Brown Sole     7739
Black Leather Chelsea with Blue Sole            15
Name: Footwear, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Brown Leather Shoes with Laces               0.210215
White Canvas Sneaker with White Sole         0.179710
Black Suede Chelseas with Brown Sole         0.150185
Black Leather Shoes with Laces               0.140322
Tan Suede Workboot with Tan Sole             0.120257
White Leather Sneaker with Grey Sole         0.119318
Redbrown Leather Workboot with Brown Sole    0.079838
Black Leather Chelsea with Blue Sole         0.000155
Name: Footwear, dtype: float64
=====================================================
=====================================================
7
Two Rings        13582
Ring One Blue      975
Name: Ring, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Two Rings        0.933022
Ring One Blue    0.066978
Name: Ring, dtype: float64
=====================================================
=====================================================
8
Tan Workers Cap          6293
Navy Blue Workers Cap    2430
Purple Workers Cap        975
Name: Headwear, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Tan Workers Cap          0.648897
Navy Blue Workers Cap    0.250567
Purple Workers Cap       0.100536
Name: Headwear, dtype: float64
=====================================================
=====================================================
9
Black Books          19381
Silver Aviators       9457
Rosegold Aviators     5073
Blue Books              20
3D Glasses              20
Name: Glasses, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Black Books          0.570852
Silver Aviators      0.278548
Rosegold Aviators    0.149421
Blue Books           0.000589
3D Glasses           0.000589
Name: Glasses, dtype: float64
=====================================================
=====================================================
10
Stud Earring    9681
Name: Piercings, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Stud Earring    1.0
Name: Piercings, dtype: float64
=====================================================
=====================================================
11
Black Smartphone           21295
Brown Leather Briefcase    17429
Black Leather Briefcase    13546
Lunchbox                    9714
Blue Lunchbox               1952
Light Blue Smartphone        950
Name: Accessories, dtype: int64
 ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
Black Smartphone           0.328191
Brown Leather Briefcase    0.268610
Black Leather Briefcase    0.208766
Lunchbox                   0.149709
Blue Lunchbox              0.030084
Light Blue Smartphone      0.014641
Name: Accessories, dtype: float64
=====================================================
=====================================================